In [33]:
import pandas as pd

In [34]:
movie_df = pd.read_excel('./all_movies.xlsx')

C:\Users\TH_K\AppData\Local\Temp\ipykernel_2220\64312034.py:1: FutureWarning:

Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])

In [35]:
movie_df

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
0,0,1,디워,2007-08-01,49339934700,0.054,7855441,622,96434,한국,한국,(주)쇼박스,12세 관람가,판타지,90.0,심형래,8.0,여름
1,1,2,트랜스포머,2007-06-28,47619379338,0.052,7389696,863,92291,미국,미국,CJ ENM,12세 관람가,SF,135.0,마이클 베이,6.0,여름
2,2,3,화려한 휴가,2007-07-25,44098449600,0.048,6855300,551,96522,한국,한국,CJ ENM,12세 관람가,드라마,125.0,김지훈,7.0,여름
3,3,4,스파이더맨 3,2007-05-01,29511658000,0.032,4592309,806,79966,미국,미국,한국소니픽쳐스릴리징브에나비스타영화㈜,12세 관람가,SF,139.0,샘 레이미,5.0,봄
4,4,5,캐리비안의 해적: 세상의 끝에서,2007-05-23,29133447500,0.032,4571229,953,78007,미국,미국,한국소니픽쳐스릴리징브에나비스타영화㈜,12세 관람가,판타지,168.0,고어 버빈스키,5.0,봄
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2242,442,146,부활,2020-07-09,77018250,0,9200,39,664,한국,한국,(주)중헌홀딩스,전체 관람가,다큐멘터리,99.0,케빈 레이놀즈,7.0,여름
2243,443,147,타락천사,1995-12-23,89708920,0,8983,37,728,홍콩,홍콩,(주)디스테이션,15세 관람가,드라마,99.0,왕가위,12.0,겨울
2244,444,148,테넷,2020-08-26,84602320,0,8957,32,1374,미국,미국,워너브러더스 코리아(주),12세 관람가,"액션, SF",150.0,크리스토퍼 놀란,8.0,여름
2245,445,149,유다 그리고 블랙 메시아,2021-04-22,75381330,0,8841,154,2032,미국,미국,워너브러더스 코리아(주),15세 관람가,드라마,125.0,샤카 킹,4.0,봄
2246,446,150,파워 오브 도그,2021-11-17,78910570,0,8794,113,1114,미국,미국,씨제이 씨지브이(CJ CGV)(주),15세 관람가,"드라마, 멜로/로맨스, 서스펜스, 미스터리",126.0,제인 캠피온,11.0,가을

In [36]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2247 entries, 0 to 2246
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2247 non-null   int64
 1   순위          2247 non-null   int64
 2   영화명         2247 non-null   object
 3   개봉일         2246 non-null   datetime64[ns]
 4   매출액         2247 non-null   int64
 5   매출액 점유율     2247 non-null   object
 6   관객수         2247 non-null   int64
 7   스크린수        2247 non-null   int64
 8   상영횟수        2247 non-null   int64
 9   대표국적        2247 non-null   object
 10  국적          2247 non-null   object
 11  배급사         2245 non-null   object
 12  연령등급        2246 non-null   object
 13  장르          2247 non-null   object
 14  러닝타임        2246 non-null   float64
 15  감독          2247 non-null   object
 16  개봉월         2246 non-null   float64
 17  계절          2247 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(9)
memory usage: 316.1+ KB

## 중복값 제거

In [37]:
movie_df['영화명'][movie_df['영화명'].duplicated()]

211                         황금 나침반
219                  내셔널 트레져:비밀의 책
236                       색즉시공 시즌2
242                        어거스트 러쉬
263                       아메리칸 갱스터
                   ...
2231                    호빗: 뜻밖의 여정
2233    페이트 스테이 나이트 헤븐즈필 제3장 스프링 송
2239                 팅커 테일러 솔저 스파이
2242                            부활
2244                            테넷
Name: 영화명, Length: 161, dtype: object

In [38]:
movie_df[movie_df['영화명']=='황금 나침반']

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
14,14,15,황금 나침반,2007-12-18,14566840000,0.016,2297587,492,33593,미국,미국,롯데쇼핑㈜롯데엔터테인먼트,전체 관람가,판타지,113.0,크리스 웨이츠,12.0,겨울
211,211,62,황금 나침반,2007-12-18,3769841000,0.004,609371,293,19115,미국,미국,롯데쇼핑㈜롯데엔터테인먼트,전체 관람가,판타지,113.0,크리스 웨이츠,12.0,겨울

In [39]:
movie_df[movie_df['영화명']=='어거스트 러쉬']

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
20,20,21,어거스트 러쉬,2007-11-29,12390878000,0.014,1935790,271,34247,미국,미국,"(주)영화사 그램,CJ ENM",전체 관람가,드라마,113.0,커스틴 쉐리단,11.0,가을
242,242,93,어거스트 러쉬,2007-11-29,1787776500,0.002,271678,126,6631,미국,미국,"(주)영화사 그램,CJ ENM",전체 관람가,드라마,113.0,커스틴 쉐리단,11.0,가을

In [40]:
movie_df = movie_df.sort_values('매출액', ascending=False)
movie_df

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
1800,0,1,극한직업,2019-01-23,139651845516,0.075,16265618,2003,292584,한국,한국,(주)씨제이이엔엠,15세 관람가,코미디,111.0,이병헌,1.0,겨울
1050,150,1,명량,2014-07-30,136000000000,8.80%,17613682,1587,188611,한국,한국,(주)씨제이이엔엠,15세 관람가,액션,128.0,김한민,7.0,여름
1801,1,2,어벤져스: 엔드게임,2019-04-24,122182694160,0.066,13934592,2835,242001,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,12세 관람가,"액션, SF",181.0,안소니 루소,4.0,봄
1802,2,3,겨울왕국 2,2019-11-21,111596248720,0.06,13369064,2648,282557,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,전체 관람가,"애니메이션, 모험, 코미디, 가족, 판타지, 뮤지컬",103.0,크리스 벅,11.0,가을
1803,3,4,알라딘,2019-05-23,106955138359,0.058,12552283,1409,266469,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,전체 관람가,"모험, 가족, 판타지, 뮤지컬, 멜로/로맨스",128.0,존 머스커,5.0,봄
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,286,138,델마와 루이스,1993-11-27,46615500,0,9203,60,1021,미국,미국,(주)드림팩트엔터테인먼트,청소년 관람불가,드라마,124.0,데이빗 레이치,11.0,가을
2094,294,146,할로윈: 살인마 잭,2020-07-21,39400520,0,7985,16,110,영국,영국,(주)영화사 안다미로,15세 관람가,공포,83.0,앤드류 존스,7.0,여름
2097,297,150,트루먼 쇼,1998-10-24,37811500,0,7462,104,1234,미국,미국,주식회사 해리슨앤컴퍼니,12세 관람가,"코미디, 드라마, SF",103.0,피터 위어,10.0,가을
2089,289,141,죽이는 여자,2020-08-23,35852000,0,8858,17,104,미국,미국,(주)영화사 안다미로,청소년 관람불가,공포,82.0,애쉴리 해밀턴,8.0,여름
2092,292,144,무협: 더 코드,2020-06-22,35376040,0,8371,19,109,미국,미국,(주)영화사 안다미로,15세 관람가,액션,79.0,조니 우,6.0,여름

In [41]:
movie_df.drop_duplicates(['영화명'], inplace=True)

In [42]:
movie_df

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
1800,0,1,극한직업,2019-01-23,139651845516,0.075,16265618,2003,292584,한국,한국,(주)씨제이이엔엠,15세 관람가,코미디,111.0,이병헌,1.0,겨울
1050,150,1,명량,2014-07-30,136000000000,8.80%,17613682,1587,188611,한국,한국,(주)씨제이이엔엠,15세 관람가,액션,128.0,김한민,7.0,여름
1801,1,2,어벤져스: 엔드게임,2019-04-24,122182694160,0.066,13934592,2835,242001,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,12세 관람가,"액션, SF",181.0,안소니 루소,4.0,봄
1802,2,3,겨울왕국 2,2019-11-21,111596248720,0.06,13369064,2648,282557,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,전체 관람가,"애니메이션, 모험, 코미디, 가족, 판타지, 뮤지컬",103.0,크리스 벅,11.0,가을
1803,3,4,알라딘,2019-05-23,106955138359,0.058,12552283,1409,266469,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,전체 관람가,"모험, 가족, 판타지, 뮤지컬, 멜로/로맨스",128.0,존 머스커,5.0,봄
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,286,138,델마와 루이스,1993-11-27,46615500,0,9203,60,1021,미국,미국,(주)드림팩트엔터테인먼트,청소년 관람불가,드라마,124.0,데이빗 레이치,11.0,가을
2094,294,146,할로윈: 살인마 잭,2020-07-21,39400520,0,7985,16,110,영국,영국,(주)영화사 안다미로,15세 관람가,공포,83.0,앤드류 존스,7.0,여름
2097,297,150,트루먼 쇼,1998-10-24,37811500,0,7462,104,1234,미국,미국,주식회사 해리슨앤컴퍼니,12세 관람가,"코미디, 드라마, SF",103.0,피터 위어,10.0,가을
2089,289,141,죽이는 여자,2020-08-23,35852000,0,8858,17,104,미국,미국,(주)영화사 안다미로,청소년 관람불가,공포,82.0,애쉴리 해밀턴,8.0,여름
2092,292,144,무협: 더 코드,2020-06-22,35376040,0,8371,19,109,미국,미국,(주)영화사 안다미로,15세 관람가,액션,79.0,조니 우,6.0,여름

In [43]:
movie_df[movie_df['영화명']=='황금 나침반']

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
14,14,15,황금 나침반,2007-12-18,14566840000,0.016,2297587,492,33593,미국,미국,롯데쇼핑㈜롯데엔터테인먼트,전체 관람가,판타지,113.0,크리스 웨이츠,12.0,겨울

In [44]:
movie_df[movie_df['영화명']=='어거스트 러쉬']

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
20,20,21,어거스트 러쉬,2007-11-29,12390878000,0.014,1935790,271,34247,미국,미국,"(주)영화사 그램,CJ ENM",전체 관람가,드라마,113.0,커스틴 쉐리단,11.0,가을

## 결측값 확인

In [45]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2086 entries, 1800 to 2092
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2086 non-null   int64
 1   순위          2086 non-null   int64
 2   영화명         2086 non-null   object
 3   개봉일         2085 non-null   datetime64[ns]
 4   매출액         2086 non-null   int64
 5   매출액 점유율     2086 non-null   object
 6   관객수         2086 non-null   int64
 7   스크린수        2086 non-null   int64
 8   상영횟수        2086 non-null   int64
 9   대표국적        2086 non-null   object
 10  국적          2086 non-null   object
 11  배급사         2084 non-null   object
 12  연령등급        2085 non-null   object
 13  장르          2086 non-null   object
 14  러닝타임        2085 non-null   float64
 15  감독          2086 non-null   object
 16  개봉월         2085 non-null   float64
 17  계절          2086 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(9)
memory usage: 309.6+ KB

In [46]:
movie_df[movie_df['개봉일'].isnull()]

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
1149,249,100,뽀로로 극장판 눈요정 마을 대모험,NaT,1160549300,0.10%,231875,181,4990,한국,한국,NaN,전체 관람가,애니메이션,35.0,김현호,NaN,가을

In [47]:
movie_df.loc[2]

Unnamed: 0                      2
순위                              3
영화명                        화려한 휴가
개봉일           2007-07-25 00:00:00
매출액                   44098449600
매출액 점유율                     0.048
관객수                       6855300
스크린수                          551
상영횟수                        96522
대표국적                           한국
국적                             한국
배급사                        CJ ENM
연령등급                      12세 관람가
장르                            드라마
러닝타임                        125.0
감독                            김지훈
개봉월                           7.0
계절                             여름
Name: 2, dtype: object

In [48]:
movie_df.loc[1149, '개봉일'] = '2014-12-11 00:00:00'

In [49]:
movie_df[movie_df['영화명']=='뽀로로 극장판 눈요정 마을 대모험']

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
1149,249,100,뽀로로 극장판 눈요정 마을 대모험,2014-12-11,1160549300,0.10%,231875,181,4990,한국,한국,NaN,전체 관람가,애니메이션,35.0,김현호,NaN,가을

In [50]:
movie_df[movie_df['배급사'].isnull()]

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
1149,249,100,뽀로로 극장판 눈요정 마을 대모험,2014-12-11,1160549300,0.10%,231875,181,4990,한국,한국,NaN,전체 관람가,애니메이션,35.0,김현호,NaN,가을
849,399,100,메로엣타의 반짝반짝 음악회,2012-12-19,916970250,0.001,273298,237,4729,일본,일본,NaN,전체 관람가,애니메이션,20.0,유야마 쿠니히코,12.0,겨울

In [51]:
movie_df.loc[1149, '배급사'] = '윌리코기'
movie_df.loc[1149, '개봉월'] = 11.0

In [52]:
len(movie_df['배급사'].unique()), movie_df['배급사'].unique()

(230,
 array(['(주)씨제이이엔엠', '월트디즈니컴퍼니코리아 유한책임회사', '롯데컬처웍스(주)롯데엔터테인먼트', '(주)쇼박스',
        '(주)넥스트엔터테인먼트월드(NEW)', '월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아(주)',
        '소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)', 'CJ ENM', '워너브러더스 코리아(주)',
        '월트디즈니컴퍼니코리아 유한책임회사,이십세기폭스코리아(주)', '소니픽쳐스엔터테인먼트코리아주식회사극장배급지점',
        '롯데쇼핑㈜롯데엔터테인먼트', '월트디즈니컴퍼니코리아 유한책임회사,한국소니픽쳐스릴리징브에나비스타영화㈜',
        '플러스엠 엔터테인먼트,(주)키위미디어그룹', '이십세기폭스코리아(주)', '(주)씨제이이엔엠,(주)덱스터스튜디오',
        '유니버설픽쳐스인터내셔널 코리아(유)', '월트디즈니컴퍼니코리아(주)', '(주)디스테이션,워너브러더스 코리아(주)',
        '한국소니픽쳐스릴리징브에나비스타영화㈜', '롯데쇼핑㈜롯데엔터테인먼트,(주)싸이더스',
        '월트디즈니컴퍼니코리아 유한책임회사,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)',
        '(주)스튜디오디에이치엘,주식회사 해리슨앤컴퍼니,워너브러더스 코리아(주)', '플러스엠 엔터테인먼트',
        '(주)에이스메이커무비웍스,(주)키위미디어그룹', 'CJ ENM,(주)시네마서비스', '(주)와우픽쳐스',
        '유니버설픽쳐스인터내셔널 코리아(유),CJ ENM', '주식회사 해리슨앤컴퍼니,워너브러더스 코리아(주)',
        '(주)싸이더스', '롯데쇼핑㈜롯데엔터테인먼트,(주)리틀빅픽쳐스', '아이러브시네마',
        '(주)인벤트스톤,영화사청어람(주)', '(주)에이스메이커무비웍스', '워터홀컴퍼니(주)',
        '이십세기폭스필름코퍼레이션', '판씨네마(주)', '오퍼스픽쳐스(유),CGV아트하우스', '필라멘트픽쳐스',
        '씨네그루(주)다우기술', '(주)메리크리스마스,TCO(주)더콘텐츠온', '㈜스튜디오이쩜영',
        'CGV아트하우스,영화사 풀', '(주)제이앤씨미디어그룹,TCO(주)더콘텐츠온',
        '(주)넥스트엔터테인먼트월드(NEW),(주)에스비에스콘텐츠허브', '(주)프라임엔터테인먼트',
        '(주)시너지하우스 (시너지)', '(주)엠케이픽처스 ,(주)두엔터테인먼트',
        '(주)영화사 그램,이십세기폭스코리아(주)', '(주)영화사 그램,CJ ENM',
        '씨너스엔터테인먼트(주),타임스토리그룹(주)', 'CGV아트하우스', '에스케이플래닛(주),(주)씨제이이엔엠',
        '(주)쇼박스,이십세기폭스코리아(주)', '(주)시네마서비스', '(주)키다리이엔티',
        '플러스엠 엔터테인먼트,주식회사 키위컴퍼니', '에스케이텔레콤(주)', '(유)씨에이치엔터테인먼트',
        '프라임 엔터테이먼트', '(주)디스테이션,(주)시너지하우스 (시너지),롯데쇼핑㈜롯데엔터테인먼트',
        '플러스엠 엔터테인먼트,(주)콘텐츠 난다긴다', '(주)시너지하우스 (시너지),롯데쇼핑㈜롯데엔터테인먼트',
        '씨너스엔터테인먼트(주)', '판씨네마(주),(주)넥스트엔터테인먼트월드(NEW)', '(주)스마일이엔티',
        '주식회사 에이비오엔터테인먼트,플러스엠 엔터테인먼트',
        '소니픽쳐스엔터테인먼트코리아주식회사극장배급지점,(주)키다리이엔티', '(주)시네마서비스,(주)나이너스엔터테인먼트',
        '(주)스튜디오210', '오퍼스픽쳐스(유),(주)쇼박스', '(주)화앤담이엔티', '(주)누리픽쳐스',
        '(주)넥스트엔터테인먼트월드(NEW),(주)씨제이이엔엠', '(주)에스비에스콘텐츠허브',
        '글뫼 주식회사,이십세기폭스코리아(주)', '롯데컬처웍스(주)롯데엔터테인먼트,(주)키다리이엔티', '오퍼스픽쳐스(유)',
        '(주)리틀빅픽쳐스', '(주)누리픽쳐스,롯데쇼핑㈜롯데엔터테인먼트', '(주)벤티지홀딩스', '(주)올스타엔터테인먼트',
        '롯데쇼핑㈜롯데엔터테인먼트,(주)스마일이엔티', '플러스엠 엔터테인먼트,(주)미디어캐슬,워터홀컴퍼니(주)',
        '(주)일레븐엔터테인먼트,(주)넥스트엔터테인먼트월드(NEW)', '(주)쇼박스,(주)와우픽쳐스',
        '플러스엠 엔터테인먼트,(주)리틀빅픽쳐스', '유나이티드픽처스(주)', '(주)메리크리스마스',
        '(주)영화사오원,CJ ENM', '주식회사 우리네트웍스', '(주)제이앤씨미디어그룹', '(주)나이너스엔터테인먼트',
        '(주)미디어데이', '에이원엔터테인먼트', 'TCO(주)더콘텐츠온,(주)제이앤씨미디어그룹',
        '워터홀컴퍼니(주),한국소니픽쳐스릴리징브에나비스타영화㈜', '(주)리틀빅픽쳐스,(주)트리니티픽쳐스',
        '(주)팝엔터테인먼트,한국소니픽쳐스릴리징브에나비스타영화㈜', '판씨네마(주),(주)프레인글로벌',
        '(주)싸이더스,(주)넥스트엔터테인먼트월드(NEW)', '영화사청어람(주)', '(주)콘텐츠 난다긴다', '유프로덕션',
        '롯데쇼핑㈜롯데엔터테인먼트,(주)마인스 엔터테인먼트', '영화사올(주)', '영화사청어람(주),(주)엠엔에프씨',
        'UPI코리아', '㈜케이디미디어', '씨제이 씨지브이(CJ CGV)(주)',
        '(주)스튜디오 산타클로스엔터테인먼트,(주)아센디오,(주)제이앤씨미디어그룹',
        '(주)엔케이컨텐츠,롯데쇼핑㈜롯데엔터테인먼트', '(주)마인스 엔터테인먼트,(주)박수엔터테인먼트',
        '씨제이포디플렉스 주식회사', '(주)이수C&E', '(주)아이필름코퍼레이션,씨제이 씨지브이(CJ CGV)(주)',
        'CGV ICECON,월트디즈니컴퍼니코리아 유한책임회사', '(주)키다리이엔티,주식회사 키위컴퍼니',
        '(주)리틀빅픽쳐스,(주)이수C&E', '(주)성원아이컴', '(주)팝엔터테인먼트',
        '(주)스마일이엔티,(주)에스비에스콘텐츠허브', '(주)미로비젼', '롯데쇼핑㈜롯데엔터테인먼트,미디어소프트',
        '(주)프레인글로벌', '(주)팝파트너스', '(주)스튜디오 산타클로스엔터테인먼트,(주)제이앤씨미디어그룹',
        '(주)엔케이컨텐츠,(유)씨에이치엔터테인먼트', '(주)디스테이션', '(주)홈초이스', '예지림엔터테인먼트',
        '(주)인벤트스톤', '타임스토리그룹(주)', '㈜코리아스크린', '대원미디어(주)', '(주)그노스',
        '(주)시네마서비스,CJ ENM', '(주)와우픽쳐스,(주)쇼박스', '(주)엠플러스픽쳐스',
        'CGV아트하우스,(주)리틀빅픽쳐스', '(주)키위미디어그룹,오퍼스픽쳐스(유),(주)씨네필운',
        '(주)까멜리아이엔티,(주)팝엔터테인먼트', '(주)영화사 빅', '(주)넥스트엔터테인먼트월드(NEW),판씨네마(주)',
        '(주)팝엔터테인먼트,CJ ENM', '(주)셀트리온엔터테인먼트', '(주)영화사 그램', '실버스푼',
        '유니코리아문예투자(주),CJ ENM', '(주)화천공사', '(주)대명문화공장,(주)리틀빅픽쳐스',
        '(주)케이알씨지,(주)시너지하우스 (시너지)', '플러스엠 엔터테인먼트,(주)레드로버', '윌리코기',
        'CGV ICECON', '(주)이수C&E,(주)스톰픽쳐스코리아', '㈜메가박스',
        '(주)박수엔터테인먼트,㈜코리아스크린', 'KT&G 상상마당 영화사업팀 컴퍼니에스에스(주)',
        '(주)팝엔터테인먼트,(주)프라임엔터테인먼트,(주)유레카픽쳐스', '(주)리틀빅픽쳐스,(주)페퍼민트앤컴퍼니',
        '(주)누리픽쳐스,(주)영화특별시에스엠씨', '와이드 릴리즈(주)', '(주)씨제이이엔엠,주식회사 티빙',
        '(주)마인스 엔터테인먼트', '(주)박수엔터테인먼트', '투니버스(주)온미디어',
        '동우에이앤이(주),(주)박수엔터테인먼트', '(주)드림팩트엔터테인먼트,(주)제이앤씨미디어그룹,TCO(주)더콘텐츠온',
        'UIP코리아', '한국소니픽쳐스릴리징브에나비스타영화㈜,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)',
        'TCO(주)더콘텐츠온', '(주)제이앤씨미디어그룹,(주)나이너스엔터테인먼트', nan, '(주)아이코닉스',
        '(유)영화사 화수분,(주)에스비에스콘텐츠허브', '(주)삼지애니메이션', '팝엔터테인먼트',
        '(주)넥스트엔터테인먼트월드(NEW),KT&G 상상마당 영화사업팀 컴퍼니에스에스(주)',
        '(주)케이티알파,씨제이 씨지브이(CJ CGV)(주)', '(주)누리픽쳐스,(주)케이티알파',
        '씨제이 씨지브이(CJ CGV)(주),(주)씨네필운', '(주)영화사오원', '(주)삼백상회,(주)팬엔터테인먼트',
        '월트디즈니코리아㈜', '(주)크리픽쳐스', '(주)스마일이엔티,(주)영화사오원',
        '롯데쇼핑㈜롯데엔터테인먼트,타임스토리그룹(주)', '(주)스튜디오이쩜영', '(주)애니플러스', '파이오니아21',
        '(주)영화사 빅,(주)다날엔터테인먼트', '(주)드림팩트엔터테인먼트,팝엔터테인먼트',
        '(주)드림팩트엔터테인먼트,예지림엔터테인먼트', '(주)리틀빅픽쳐스,(주)인벤트스톤',
        '(합)알지애니메이션스튜디오,씨제이 씨지브이(CJ CGV)(주)', '(주)미로비젼,아뮤즈코리아(주)',
        '(주)영화사 빅,(주)버킷스튜디오', '(주)포켓몬코리아', '(주)스톰픽쳐스코리아,주식회사 우리네트웍스',
        '(주)박수엔터테인먼트,에이원엔터테인먼트', '롯데쇼핑㈜롯데엔터테인먼트,(주)시너지하우스 (시너지)',
        '아이비젼엔터테인먼트(주)', '힘컨텐츠(주),(주)디스테이션', '㈜T-JOY,씨너스엔터테인먼트(주)',
        '(주)라이크콘텐츠', '워너브러더스 코리아(주),(주)시네마서비스', '(주)이수C&E,(주)에이원엔터테인먼트',
        '(주)엠제이픽쳐스', 'CGV ICECON,씨제이포디플렉스 주식회사', '워너브러더스 코리아(주),CJ ENM',
        '(주)콘텐츠판다', '(주)더블앤조이픽쳐스,TCO(주)더콘텐츠온', '(주)이수C&E,(주)시너지미디어',
        '주식회사 컨텐츠썬', '(주)리틀빅픽쳐스,(주)레드로버', '(주)드림팩트엔터테인먼트,(주)삼백상회',
        '(주)영화특별시에스엠씨', '(주)제이앤씨미디어그룹,(유)조이앤시네마', '더핑크퐁컴퍼니(주)', '(재)서울예술단',
        'TCO(주)더콘텐츠온,(주)디스테이션', '(주)케이티알파,판씨네마(주)', '(재)CBS,주식회사 블루필름웍스',
        '동우에이앤이(주)', '(주)삼백상회', '(주)제이앤씨미디어그룹,UIP코리아', '(주)드림팩트엔터테인먼트',
        '(주)영화사 안다미로', '주식회사 해리슨앤컴퍼니'], dtype=object))

In [53]:
movie_df[movie_df['배급사'] == '씨제이 엔터테인먼트']

Empty DataFrame
Columns: [Unnamed: 0, 순위, 영화명, 개봉일, 매출액, 매출액 점유율, 관객수, 스크린수, 상영횟수, 대표국적, 국적, 배급사, 연령등급, 장르, 러닝타임, 감독, 개봉월, 계절]
Index: []

In [54]:
movie_df.loc[849, '배급사'] = '(주)씨제이이엔엠'

In [55]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2086 entries, 1800 to 2092
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2086 non-null   int64
 1   순위          2086 non-null   int64
 2   영화명         2086 non-null   object
 3   개봉일         2086 non-null   datetime64[ns]
 4   매출액         2086 non-null   int64
 5   매출액 점유율     2086 non-null   object
 6   관객수         2086 non-null   int64
 7   스크린수        2086 non-null   int64
 8   상영횟수        2086 non-null   int64
 9   대표국적        2086 non-null   object
 10  국적          2086 non-null   object
 11  배급사         2086 non-null   object
 12  연령등급        2085 non-null   object
 13  장르          2086 non-null   object
 14  러닝타임        2085 non-null   float64
 15  감독          2086 non-null   object
 16  개봉월         2086 non-null   float64
 17  계절          2086 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(9)
memory usage: 374.2+ KB

In [56]:
movie_df[movie_df['연령등급'].isnull()]

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
1100,200,51,애나벨,2014-10-02,7083492943,0.50%,926027,464,29000,미국,미국,워너브러더스 코리아(주),NaN,공포,99.0,안토니오 트라쇼라스,10.0,가을

In [57]:
movie_df['연령등급'].unique()

array(['15세 관람가', '12세 관람가', '전체 관람가', '청소년 관람불가', ' 15세 관람가', nan, 'PG',
       '대한민국', '<dd>18분</dd>', '미국',
       '<dd>10.0 <span class="bg_point per100"><span class="ico_point"></span></span></dd>',
       ' 전체 관람가', '<dd>17분</dd>'], dtype=object)

In [58]:
movie_df.loc[1100, '연령등급'] = '15세 관람가'

In [59]:
movie_df[movie_df['러닝타임'].isnull()]

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절
2001,201,52,미스터트롯: 더 무비,2020-10-22,1288696100,0.003,150090,449,15980,한국,한국,(주)영화사 그램,전체 관람가,공연실황,NaN,전수경,10.0,가을

In [60]:
movie_df.loc[2001, '러닝타임'] = 120.0

In [61]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2086 entries, 1800 to 2092
Data columns (total 18 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2086 non-null   int64
 1   순위          2086 non-null   int64
 2   영화명         2086 non-null   object
 3   개봉일         2086 non-null   datetime64[ns]
 4   매출액         2086 non-null   int64
 5   매출액 점유율     2086 non-null   object
 6   관객수         2086 non-null   int64
 7   스크린수        2086 non-null   int64
 8   상영횟수        2086 non-null   int64
 9   대표국적        2086 non-null   object
 10  국적          2086 non-null   object
 11  배급사         2086 non-null   object
 12  연령등급        2086 non-null   object
 13  장르          2086 non-null   object
 14  러닝타임        2086 non-null   float64
 15  감독          2086 non-null   object
 16  개봉월         2086 non-null   float64
 17  계절          2086 non-null   object
dtypes: datetime64[ns](1), float64(2), int64(6), object(9)
memory usage: 374.2+ KB

In [62]:
movie_df['대표국적'].unique()

array(['한국', '미국', '일본', '영국', '중국', '프랑스', '독일', '벨기에', '아이슬란드', '스페인',
       '캐나다', '태국', '홍콩', '인도', '러시아', '남아프리카공화국', '핀란드', '호주', '헝가리',
       '네덜란드', '덴마크', '우크라이나', '페루', '스웨덴', '기타'], dtype=object)

In [72]:
director = []

for i in movie_df['감독'].unique():
    director.append(i)

In [73]:
director

['이병헌',
 '김한민',
 '안소니 루소',
 '크리스 벅',
 '존 머스커',
 '류승완',
 '김용화',
 '최동훈',
 '장훈',
 '연상호',
 '이환경',
 '추창민',
 '조스 웨던',
 '봉준호',
 '윤제균',
 '크리스토퍼 놀란',
 '브라이언 싱어',
 '올리비에 메가턴',
 '이일형',
 '마이클 베이',
 '셰인 블랙',
 '존 왓츠',
 '이석훈',
 '한재림',
 '김성훈',
 '황동혁',
 '김지운',
 '우민호',
 '이계벽',
 '이상용',
 '크리스토퍼 맥쿼리',
 '나홍진',
 '이재한',
 '강형철',
 '이해준',
 '애너 보든',
 '매튜 본',
 '후안 안토니오 바요나',
 '심형래',
 '이준익',
 '장철수',
 '샘 레이미',
 '페이튼 리드',
 '이정범',
 '조성희',
 '김광식',
 '라이언 쿠글러',
 '김학순',
 '토드 필립스',
 '허진호',
 '김주환',
 '이재규',
 '여인영',
 '김지훈',
 '이해영',
 '장준환',
 '윤종빈',
 '돈 E. 폰트르로이',
 '빌 콘돈',
 '양우석',
 '로저 알러스',
 '마크 웹',
 '원신연',
 '김병유',
 '조의석',
 '리들리 스콧',
 '허정',
 '손용호',
 '데이빗 예이츠',
 '타이카 와이티티',
 '롤랜드 에머리히',
 '더그 라이만',
 '홍원찬',
 '마크 포스터',
 '이한',
 '피트 닥터',
 '브래드 버드',
 '바이론 하워드',
 '김석윤',
 '박찬욱',
 '박훈정',
 '김주호',
 '민규동',
 '데이빗 레이치',
 '루벤 플레셔',
 '박정우',
 '김태균',
 '조지 밀러',
 '존 파브로',
 '클로이 자오',
 '조 루소',
 '맷 리브스',
 '장창원',
 '알폰소 쿠아론',
 '최국희',
 '알렉스 커츠만',
 '제임스 완',
 '김도영',
 '이용주',
 '마크 오스본, 존 스티븐슨',
 '케이트 쇼트랜드',
 'F. 게리 그레이',
 '맥지',
 '필리다 로이드',
 '신카이 마코토',
 '이원태',
 '고어 버빈스키',
 '박누리',
 '리건',
 '조시 쿨리',
 '강우석',
 '낸시 마이어스',
 '조진규',
 '리 언크리치',
 '최성현',
 '베리 소넨필드',
 '롭 마샬',
 '조정래',
 '딘 데블로이스',
 '이언희',
 '스티븐 스필버그',
 '숀 레비',
 '앨런 테일러',
 '신태라',
 '롭 코헨',
 '임순례',
 '정지영',
 '김현석',
 '아니쉬 차간티',
 '존 추',
 '요아킴 뢰닝',
 '김한결',
 '폴 페이그',
 '김유진',
 '카일 발다',
 'J.J. 에이브럼스',
 '나현',
 '엄유나',
 '이석근',
 '제임스 건',
 '톰 후퍼',
 '권수경',
 '미카엘 하프스트롬',
 '마이크 미첼',
 '유하',
 '김대우',
 '곽경택',
 '창감독',
 '저스틴 린',
 '돈 홀',
 '팀 버튼',
 '루이스 리터리어',
 '김성수',
 '조규장',
 '피터 잭슨',
 '강대규',
 '웨스 볼',
 '타파스 차크라바르티',
 '딘 패리소트',
 '정범식',
 '필립 노이스',
 '폴 그린그래스',
 '최정열',
 '앤디 서키스',
 '조근현',
 '리차드 커티스',
 '크리스찬 세스마',
 '김형주',
 '이장훈',
 '앤드류 스탠튼',
 '소토자키 하루오',
 '루퍼트 와이어트',
 '렌 와이즈먼',
 '이연우',
 '최원섭',
 '스티븐 S. 드나이트',
 '김정훈',
 '정병길',
 '황인호',
 '팀 밀러',
 '배종',
 '장재현',
 '데이미언 셔젤',
 '권오광',
 '올 파커',
 '스티븐 소머즈',
 '크리스 리노드',
 '김대승',
 '김태윤',
 '크레이그 질레스피',
 '티무르 베크맘베토브',
 '김진영',
 '에미르 에즈완',
 '전윤수',
 '톰 맥그라스',
 '잭 스나이더',
 '로버트 로드리게즈',
 '장진',
 '변영주',
 '제임스 맨골드',
 '에스킬 보그트',
 '김휘',
 '론 클레멘츠',
 '박희곤',
 '크리스 밀러',
 '피터 버그',
 '손영성',
 '정태원',
 '오우삼',
 '데스틴 크리튼',
 '조엘 크로포드',
 '박진표',
 '샘 멘데스',
 '패티 젠킨스',
 '조던 필',
 '백운학',
 '임상수',
 '이종석',
 '김태곤',
 '드니 빌뇌브',
 '임찬상',
 '마이클 밀러',
 '뤽 베송',
 '롭 레터맨',
 '스콧 제프리',
 '강효진',
 '박대민',
 '애덤 브라운',
 '백종열',
 '알레한드로 곤잘레스 이냐리투',
 '자움 콜렛 세라',
 '케네스 브래너',
 '피에르 모렐',
 '조일형',
 '데이비드 에이어',
 '필감성',
 '데이비드 F. 샌드버그',
 '대런 아로노프스키',
 '장시림',
 '김민석',
 '한준희',
 '프란시스 로렌스',
 '정근섭',
 '데이빗 슬레이드',
 'D.J. 카루소',
 '오성윤',
 '크리스 웨이츠',
 '이창재',
 '폴 앤더슨',
 '한동욱',
 '마이크 뉴웰',
 '브래드 페이튼',
 '김선',
 '패트릭 휴즈',
 '데이빗 핀처',
 '조던 복트-로버츠',
 '이종필',
 '라희찬',
 '필 존스턴',
 'M. 나이트 샤말란',
 '아칸 사타예브',
 '제이크 캐스단',
 '정다원',
 '노덕',
 '박정배',
 '모튼 틸덤',
 '김홍선',
 '정기훈',
 '이규만',
 '변성현',
 '베티 토마스',
 '문현성',
 '곽경택, 안권태',
 '노암 머로',
 '김민호',
 '전계수',
 '크리스 콜럼버스',
 '데이빗 소렌',
 '장유정',
 '이권',
 '올리비에르 나카체',
 '손유선',
 '론 하워드',
 '신정원',
 '에릭 다넬',
 '브렛 뮬렌',
 '커스틴 쉐리단',
 '방은진',
 '국동석',
 '김봉주',
 '김용균',
 '스티브 마티노',
 '이재용',
 '김영탁',
 '육상효',
 '정윤수',
 '캐리 후쿠나가',
 '윤종찬',
 '강제규',
 '타셈 싱',
 '심성보',
 '게리 로스',
 '송해성',
 '윤태윤',
 '노동석',
 '마크 앳킨스',
 '조셉 코신스키',
 '이철하',
 '박가희',
 '마이클 앱티드',
 '벤 스타센',
 '존 무어',
 '장문일',
 '이창희',
 '장항준',
 '게리 쇼어',
 '이상기',
 '바즈 루어만',
 '박인제',
 '홍창표',
 '용수',
 '김동원',
 '정지우',
 '쥐앙 파블로 마차도',
 '손재곤',
 '던칸 존스',
 '정용기',
 '제임스 맥티그',
 '이호재',
 '조동오',
 '더글러스 맥키넌',
 '권종관',
 '이수연',
 '치니티스 룬드그렌',
 '윤인호',
 '김상진',
 '조나단 리브스만',
 '피터 손',
 '트래비스 나이트',
 '곽재용',
 '김병우',
 '한상호',
 '가이 리치',
 '김용완',
 '김형준',
 '앤드류 애덤슨',
 '강윤성',
 '김상만',
 '스티븐 소더버그',
 '김창주',
 '조선호',
 '김미정',
 '마크 앤드류스',
 '닐 블롬캠프',
 '김상찬, 김현수',
 '홍지영',
 '최호',
 '박건용',
 '기욤 니클루',
 '허종호',
 '반종 피산다나쿤',
 '로슨 마샬 터버',
 '스콧 데릭슨',
 '안권태',
 '존 크래신스키',
 '라이언 존슨',
 '딘 데블린',
 '페데 알바레즈',
 '개빈 후드',
 '캐서린 하드윅',
 '이상훈',
 '조나단 레빈',
 '임상윤',
 '채드 스타헬스키',
 '가스 제닝스',
 '윤준형',
 '황병국',
 '사릭 안드레아시안',
 '마이클 차베즈',
 '이정호',
 '조진모',
 '윤재구',
 '젠디 타타코브스키',
 '윤재근',
 '롭 민코프',
 '조철현',
 '박상현',
 '김종진',
 '존 터틀타웁',
 '장윤현',
 '켈리 애스버리',
 '김성욱',
 '테아 샤록',
 '요네바야시 히로마사',
 '사이먼 킨버그',
 '허인무',
 '안톤 후쿠아',
 '알렉스 프로야스',
 '장규성',
 '송일곤',
 '에릭 다넬, 톰 맥그라스',
 '피트 닥터, 밥 피터슨',
 '박현진',
 '토니 길로이',
 '하정우',
 '마틴 스콜세지',
 '스티브 히크너, 사이몬 J. 스미스',
 '우선호',
 '아론 미르테스',
 '호세 파딜라',
 '질리언 암스트롱',
 '권칠인',
 '스콧 스피어',
 '잭 스마이트',
 '마이클 패트릭 킹',
 '박신우',
 '안토니오 트라쇼라스',
 '미야자키 하야오',
 '마크 워터스',
 '에릭 브레빅',
 '박홍수',
 '김정우',
 '박영균',
 '김용한',
 '권호영',
 '로버트 저메키스',
 '애덤 윈가드',
 '마크 로렌스',
 '크리스 웨지',
 '플로리안 헨켈 폰 ...',
 '에드가 라이트',
 '피트 트레비스',
 '샤론 맥과이어',
 '이인항',
 '마이클 그레이시',
 '카네시게 아츠시',
 '피에르 꼬팽',
 '최신규',
 '김대웅',
 '임찬익',
 '리 워넬',
 '김광태',
 '켄 콰피스',
 '풀비오 세스티토',
 '공수창',
 '김태용',
 '변혁',
 '김정권',
 '루퍼트 샌더스',
 '정윤철',
 '벤 스틸러',
 '정가영',
 '카를로스 살다나, 마이크 트메이어',
 '카를로스 아이켈만 ...',
 '피터 보그다노비치',
 '이지원',
 '라자 고스넬',
 '가렛 에드워즈',
 '김태경',
 '조나단 모스토우',
 '부지영',
 '바박 나자피',
 '김현호',
 '댄 스캔론',
 '김현호, 윤제완',
 '톰 티크베어',
 '조쉬 분',
 '심승보',
 '유선동',
 '조 카나한',
 '에드워드 즈윅',
 '이현승',
 '김해곤',
 '카를로스 살다나',
 '존 걸레거',
 '김곡',
 '박성균',
 '오스카 요나손',
 '윤종석',
 '김종현',
 '월리 피스터',
 '김용훈',
 '코디 캐머런',
 '로베르트 슈벤트케',
 '전재홍',
 '스티펜 펭메이어',
 '정연식',
 '밥 퍼시케티',
 '변영규',
 '이원석',
 '모홍진',
 '클린트 이스트우드',
 '서럽 밴 오먼',
 '릴리 워쇼스키, 라나 워쇼스키',
 '조은지',
 '안드레스 무시에티',
 '김형협',
 'J. 존스',
 '김병갑',
 '브렛 래트너',
 '이우철',
 '아딜 엘 아르비',
 '앨리스터 그리어슨',
 '손원평',
 '변승욱',
 '사라 스미스',
 '토니 스콧',
 '박상준',
 '천성일',
 '폴 맥기건',
 '원태연',
 '이창동',
 '요하네스 로버츠',
 '류장하',
 '베넷 밀러',
 '톰 본',
 '저스틴 채드윅',
 '앤드류 니콜',
 '롭 레터맨, 콘래드 버논',
 '이성태',
 '바이론 하워드, 크리스 윌리엄스',
 '성시흡',
 '제임스 그레이',
 '로아 우타우',
 '김봉한',
 '데니스 간젤',
 '라인하드 클루스',
 '박철관',
 '애스게르 레스',
 '오기환',
 '페르난도 메이렐레스',
 '장이머우',
 '김성홍',
 '트리시 시에',
 '애덤 로비텔',
 '김동욱',
 '스콧 힉스',
 '제니퍼 플랙켓, 마크 레빈',
 '게리 위닉',
 '스티븐 홉킨스',
 '기예르모 델 토로',
 '시즈노 코분',
 '브래들리 쿠퍼',
 '야마모토 야스이치로',
 '조 존스톤',
 '박광춘',
 '이종용',
 '제임스 보빈',
 '닐 나이팅게일',
 '신한솔',
 '라세 할스트롬',
 '마이크 트메이어',
 '프랭크 스토예',
 '해럴드 즈워트',
 '한지승',
 '게리 도버먼',
 '토마스 로스',
 '엄태화',
 '타카하시 시게하루',
 '임진순',
 '김병곤',
 '지미 헤이워드, 스티브 마티노',
 '다니엘 에스피노사',
 '쏘어 프류덴탈',
 '박흥식',
 '안상훈',
 '올리버 히르비겔',
 '권형진',
 '임필성',
 '조원희',
 '닉 브루노',
 '야기 류이치',
 '팀 스토리',
 '존 라세터',
 '스콧 모지어',
 '라이언 머피',
 '가브리엘 무치노',
 '스티브 맥퀸',
 '존 스톡웰',
 '손태웅',
 '아담 맥케이',
 '이경미',
 '로저 도널드슨',
 '브라이언 피',
 '러셀 멀케이',
 '김청기',
 '데오도르 멜피',
 '이안 소프틀리',
 '신근호',
 '홍의정',
 '캐시 얀',
 '믹키 리델',
 '장정관',
 '세딕 니콜라스 트로얀',
 '정승구',
 '박제현',
 '박용집',
 '닐 버거',
 '김달중',
 '크리스토퍼 랜던',
 '프랭크 다라본트',
 '이윤정',
 '엔리코 카사로사',
 '김성호',
 '릴리 워쇼스키',
 '제임스 매더',
 '마이클 만',
 '이사랑',
 '파트릭 알레산드렝',
 '서극',
 '데이브 그린',
 '유성엽',
 '양경모',
 '지길웅, 김호정',
 '이안',
 '이현우',
 '임영성',
 '피터 레페니오티스',
 '도미닉 세나',
 '조비 해롤드',
 '오승욱',
 '백동훈',
 '이도윤',
 'RM',
 '사이먼 웨스트',
 '윌리엄 유뱅크',
 '윤영빈',
 '카네코 슈스케',
 '이덕희',
 '오윤동',
 '샤리 스프링어 버먼',
 '유야마 쿠니히코',
 '조민호',
 '리 타마호리',
 '이승무',
 '마이클 도허티',
 '민규동, 변혁, 오기환',
 '오치아이 마사유키',
 '캘런 브런커',
 '발타자르 코루마쿠르',
 '서유민',
 '정우철',
 '팀 힐',
 '타치카와 유즈루',
 '윌 글럭',
 '자크 헬름',
 '조용선',
 '정정화',
 '김동빈',
 '김정환',
 '댄 트라첸버그',
 '제임스 폴리',
 '박준수',
 '저스틴 커젤',
 '김성제',
 '조쉬 트랭크',
 '손현희',
 '도미닉 쿡',
 '조지 놀피',
 '문제용',
 '테리 길리엄',
 '정식',
 '로브 라이너',
 '정세교',
 '릭 로먼 워',
 '길예르모 델 토로',
 '후메이',
 '케빈 리마',
 '류승진',
 '김종우',
 '라나 워쇼스키',
 '이주영',
 '가버 추보',
 '이용승',
 '야마자키 다카시',
 '신재호',
 '제임스 왕',
 '제프 와드로',
 '마이크 플래너건',
 '그렉 티어난',
 '하기호',
 '조엘 슈마허',
 '데이빗 보워스',
 '진가신, 엽위민',
 '주지홍',
 '호거 태프',
 '샘 펠, 로버트 스티븐헤이겐',
 '쿠엔틴 타란티노',
 '김윤석',
 '이성강',
 '정길영',
 '폴 티비트',
 '브래드 퍼맨',
 '앤 플레쳐',
 '남대중',
 '니콜라스 스톨러',
 '로버트 루케틱',
 '하시모토 마사카즈',
 '프레드릭 발리프',
 '토마스 맥카시',
 '크리스토퍼 스펜서',
 '방수인',
 '스티븐 쿼일',
 '시기노 아키라',
 '수잔나 포겔',
 '마크 네빌딘, 브라이언 테일러',
 '박규태',
 '크리스찬 리버스',
 '캐서린 비글로우',
 '홍용호',
 '데이빗 토히',
 '마크 스티븐 존슨',
 '강석범',
 '데이비드 R. 엘리스',
 '이두환',
 '베르너 헤어조크',
 '정익환',
 '로버츠 개너웨이',
 '김지환',
 '폴 킹',
 '조명남',
 '수 차오핑',
 '크리스티안 디터',
 '아리 산델',
 '성룡',
 '오토 바서스트',
 '나가오카 치카',
 '프랭크 코라치',
 '스튜어트 베티',
 '나카타 히데오',
 '야마다 나오코',
 '미셸 공드리',
 '타카하시 와타루',
 '손석우',
 '박지완',
 '에비 콘',
 '월트 베커',
 '제임스 마쉬',
 '토미 위르콜라',
 '이민재',
 '리처드 라그라브네스',
 '린 사우더랜드',
 '최윤석',
 '스티븐 C. 밀러',
 '정용주',
 '아사토 마리, 미야케 류타',
 '이반 라이트만',
 '토니 밴크로프트',
 '피 제이 호건',
 '김진성',
 '아담 쉥크만',
 '세스 맥팔레인',
 '딘 이슬래리트',
 '닉힐 아드바니',
 '안젤리나 졸리',
 '카메론 크로우',
 '님로드 앤탈',
 '오키우라 히로유키',
 '기타무라 류헤이',
 '주성치',
 '야지마 테츠오',
 '스테파노 솔리마',
 '크리스 누난',
 '윤재연',
 '테라모토 유키요',
 '최상훈',
 '여균동',
 '이안규',
 '쿄고쿠 타카히코',
 '김제영',
 '스콧 프랭크',
 '제임스 카메론',
 '콜린 스트로즈, 그렉 스트로즈',
 '존 애브넷',
 '만스 말린드',
 '이윤기',
 '아담 갠저',
 '대런 린 보우즈만',
 '기옘 모랄레스',
 '마이클 수지',
 '마크 A.Z. 디페',
 '마스이 소우이치',
 '덱스터 플레처',
 '폴 J. 볼거',
 '알렉 커시시언',
 '올리버 스톤',
 '웨인 쏜리',
 '장지량',
 '김인욱',
 '쿠스바 코조',
 '김영준',
 '이은희',
 '박광수',
 '김아론',
 '홍기선',
 '드류 고다드',
 '미야모토 히로아키',
 '안소니 벨',
 '캐리 주스넌',
 '김종관',
 '올라턴드 오선샌미',
 '애쉬 브래넌',
 '레니 할린',
 '그리핀 던',
 '박명랑',
 '일라이 로스',
 '호소다 마모루',
 '정진영',
 '마틴 캠벨',
 '레반 가브리아제',
 '훌리오 메뎀',
 '시아란 포이',
 '멜 깁슨',
 '최재훈',
 '트란 안 훙',
 '크리스 카터',
 '조슈아 마이클 스턴',
 '사울 딥',
 '마이클 쿠에스타',
 '전형준',
 '토비 젠켈',
 '카메가키 하지메',
 '이수진',
 '우시로 신지',
 '스즈키 마사유키',
 '옥사이드 팽 천',
 '조 라이트',
 '브라이언 버티노',
 '피터 웨버',
 '커크 드 미코',
 '사카모토 코이치',
 '줄리아 하트',
 '로저 미첼',
 '닐 마샬',
 '구자홍',
 '마누엘 시실라',
 '에릭 섬머, 에릭 와린',
 '전체',
 '마티유 카소비츠',
 '리처드 링클레이터',
 '톰 새디악',
 '폴 앤드류 윌리엄스',
 '존 웰스',
 '마커스 니스펠',
 '와타나베 아유무',
 '필립 드 쇼브홍',
 '엔리크 가토',
 '케빈 그루터트',
 '바비 패럴리',
 '브라이언 헬겔랜드',
 '이경호',
 '고정욱',
 '배형준',
 '데이빗 S. 고이어',
 '헨리 셀릭',
 '맥스 기와',
 '레온 주센',
 '그레고리 호블릿',
 '윤준상',
 '데이빗 프랭클',
 '황수아',
 '미야자키 고로',
 '롤랑 조페',
 '마크 파랜스키',
 '데이비드 O. 러셀',
 '이마이 카즈아키',
 '쟝-자크 망텔로',
 '줄리언 재롤드',
 '토니 기글리오',
 '데이빗 실버맨',
 '벤자민 마소브레',
 '대니 보일',
 '알렉산드르 아야',
 '크리스 고락',
 '헤랄드 지페르만',
 '게리 마샬',
 '애덤 쉥크만',
 '김유성',
 '니마 누리자데',
 '대니 팽, 옥사이드 팽',
 '안드레이 볼긴',
 '구안호',
 '마이클 레만',
 '전수경',
 '정소동',
 '길 정거',
 '존 힐코트',
 '숀 린든',
 '사토 준이치, 야마구치 스스무',
 '빈센조 나탈리',
 '카밀 들라마레',
 '조영준',
 '개리 맥켄드리',
 '최성철',
 '케빈 레이놀즈',
 '전만배',
 '석민우',
 '이광재',
 '알렉산더 페인',
 '실베스터 스탤론',
 '이한욱',
 '조지 루카스',
 '최승호',
 '말콤 마틴',
 '크리스티앙 알바트',
 '김철한',
 '양윤호',
 '비탈리 만스키',
 '패트릭 루지어',
 '최양일',
 '류훈',
 '야쿠와 신노스케',
 '박중훈',
 '강경훈',
 '김덕수',
 '마이크 베이커',
 '최진원',
 '강건향',
 '다카하시 아츠시',
 '폴 버호벤',
 '크리스 맥케이',
 '박지원',
 '이영준',
 '월트 도른',
 '케빈 먼로',
 '애덤 브룩스',
 '얀 라벡',
 '피터 시걸',
 '찰리 빈',
 '피터 헤지스',
 '마이크 디사',
 '진목승',
 '김현주',
 '츠츠미 유키히코',
 '존 싱글톤',
 '신타로 시모사와',
 '딩성',
 '캐머런 맥킨토시',
 '테이트 테일러',
 '마이크 니콜스',
 '하나부사 츠토무',
 '폴 차이나',
 '진광교',
 '주경중',
 '릭 바이버',
 '세자르 카푸르',
 '히라야마 미호',
 '이달, 고동우',
 '신재영',
 '스티븐 크보스키',
 '제이슨 라이트맨',
 '사무엘 베이어',
 '닛타 노리오',
 '야노 유이치로',
 '로버트 렌스',
 '데이빗 해클',
 'J 블레이크슨',
 '마이크 맥코이',
 '에베라도 발레리오 구트',
 '마이클 스피어리그',
 '닐 조던',
 '임대웅',
 '데릭 보트',
 '이시이 야스하루',
 '무토 유지',
 '헤 질리',
 '로버트 레드포드',
 '파라 칸',
 '러셀 크로우',
 '다니엘 반즈',
 '왕가위',
 '벤 애플렉',
 '프라파스 콜사라논',
 '진가상',
 '사토 준이치',
 '히시다 마사카즈',
 '그렉 마크스',
 '케빈 맥도널드',
 '브라이언 커크',
 '리샤드 베리',
 '아톰 에고이안',
 '사카이 무네히사',
 '하번',
 '제라르 크라브지크',
 '헨리 유스트',
 '김창래',
 '밋첼 레이슨',
 '마이클 J. 버세트',
 '강철우',
 '니콜라스 콜라',
 '두기봉',
 '제프 파울러',
 '이토 토모히코',
 '마시 태지딘',
 '류정우',
 '다카하시 와타루',
 '마크 네빌딘',
 '조슬예',
 '레베카 매튜스',
 '데이빗 고든 그린',
 ...]

## Label Encoding

In [74]:
from sklearn.preprocessing import LabelEncoder

In [75]:
# 감독 Label Encoding
le = LabelEncoder()

director_encoding = le.fit_transform(movie_df['감독'])

director_encoding

array([ 782,  150,  623, ..., 1210,  648,  956])

In [76]:
movie_df['감독_LE'] = director_encoding

In [77]:
movie_df

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절,감독_LE
1800,0,1,극한직업,2019-01-23,139651845516,0.075,16265618,2003,292584,한국,한국,(주)씨제이이엔엠,15세 관람가,코미디,111.0,이병헌,1.0,겨울,782
1050,150,1,명량,2014-07-30,136000000000,8.80%,17613682,1587,188611,한국,한국,(주)씨제이이엔엠,15세 관람가,액션,128.0,김한민,7.0,여름,150
1801,1,2,어벤져스: 엔드게임,2019-04-24,122182694160,0.066,13934592,2835,242001,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,12세 관람가,"액션, SF",181.0,안소니 루소,4.0,봄,623
1802,2,3,겨울왕국 2,2019-11-21,111596248720,0.06,13369064,2648,282557,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,전체 관람가,"애니메이션, 모험, 코미디, 가족, 판타지, 뮤지컬",103.0,크리스 벅,11.0,가을,1102
1803,3,4,알라딘,2019-05-23,106955138359,0.058,12552283,1409,266469,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,전체 관람가,"모험, 가족, 판타지, 뮤지컬, 멜로/로맨스",128.0,존 머스커,5.0,봄,997
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,286,138,델마와 루이스,1993-11-27,46615500,0,9203,60,1021,미국,미국,(주)드림팩트엔터테인먼트,청소년 관람불가,드라마,124.0,데이빗 레이치,11.0,가을,221
2094,294,146,할로윈: 살인마 잭,2020-07-21,39400520,0,7985,16,110,영국,영국,(주)영화사 안다미로,15세 관람가,공포,83.0,앤드류 존스,7.0,여름,654
2097,297,150,트루먼 쇼,1998-10-24,37811500,0,7462,104,1234,미국,미국,주식회사 해리슨앤컴퍼니,12세 관람가,"코미디, 드라마, SF",103.0,피터 위어,10.0,가을,1210
2089,289,141,죽이는 여자,2020-08-23,35852000,0,8858,17,104,미국,미국,(주)영화사 안다미로,청소년 관람불가,공포,82.0,애쉴리 해밀턴,8.0,여름,648
2092,292,144,무협: 더 코드,2020-06-22,35376040,0,8371,19,109,미국,미국,(주)영화사 안다미로,15세 관람가,액션,79.0,조니 우,6.0,여름,956

In [312]:
movie_df[movie_df['감독_LE'] == 3]

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,...,계절,감독_LE,계절_LE,국적_LE,배급사_LE,연령등급_LE,장르_수정,장르_LE,영화제목_길이,배급사_수정
1867,67,68,이스케이프 룸,2019-03-14,5007420664,0.003,563114,850,29219,미국,...,봄,3,2,6,91,1,액션,19,6,소니픽쳐스엔터테인먼트코리아주식회사극장배급지점

In [79]:
# 계절 Label Encoding
season_encoding = le.fit_transform(movie_df['계절'])

season_encoding

array([1, 3, 2, ..., 0, 3, 3])

In [80]:
movie_df['계절_LE'] = season_encoding

In [81]:
movie_df

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,국적,배급사,연령등급,장르,러닝타임,감독,개봉월,계절,감독_LE,계절_LE
1800,0,1,극한직업,2019-01-23,139651845516,0.075,16265618,2003,292584,한국,한국,(주)씨제이이엔엠,15세 관람가,코미디,111.0,이병헌,1.0,겨울,782,1
1050,150,1,명량,2014-07-30,136000000000,8.80%,17613682,1587,188611,한국,한국,(주)씨제이이엔엠,15세 관람가,액션,128.0,김한민,7.0,여름,150,3
1801,1,2,어벤져스: 엔드게임,2019-04-24,122182694160,0.066,13934592,2835,242001,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,12세 관람가,"액션, SF",181.0,안소니 루소,4.0,봄,623,2
1802,2,3,겨울왕국 2,2019-11-21,111596248720,0.06,13369064,2648,282557,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,전체 관람가,"애니메이션, 모험, 코미디, 가족, 판타지, 뮤지컬",103.0,크리스 벅,11.0,가을,1102,0
1803,3,4,알라딘,2019-05-23,106955138359,0.058,12552283,1409,266469,미국,미국,월트디즈니컴퍼니코리아 유한책임회사,전체 관람가,"모험, 가족, 판타지, 뮤지컬, 멜로/로맨스",128.0,존 머스커,5.0,봄,997,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2086,286,138,델마와 루이스,1993-11-27,46615500,0,9203,60,1021,미국,미국,(주)드림팩트엔터테인먼트,청소년 관람불가,드라마,124.0,데이빗 레이치,11.0,가을,221,0
2094,294,146,할로윈: 살인마 잭,2020-07-21,39400520,0,7985,16,110,영국,영국,(주)영화사 안다미로,15세 관람가,공포,83.0,앤드류 존스,7.0,여름,654,3
2097,297,150,트루먼 쇼,1998-10-24,37811500,0,7462,104,1234,미국,미국,주식회사 해리슨앤컴퍼니,12세 관람가,"코미디, 드라마, SF",103.0,피터 위어,10.0,가을,1210,0
2089,289,141,죽이는 여자,2020-08-23,35852000,0,8858,17,104,미국,미국,(주)영화사 안다미로,청소년 관람불가,공포,82.0,애쉴리 해밀턴,8.0,여름,648,3
2092,292,144,무협: 더 코드,2020-06-22,35376040,0,8371,19,109,미국,미국,(주)영화사 안다미로,15세 관람가,액션,79.0,조니 우,6.0,여름,956,3

In [82]:
# 대표국적 Label Encoding
country_encoding = le.fit_transform(movie_df['대표국적'])

country_encoding

array([21, 21,  6, ...,  6,  6,  6])

In [83]:
movie_df['국적_LE'] = country_encoding

In [193]:
# 배급사 Label Encoding
movie_df['배급사'].unique()

array(['(주)드림팩트엔터테인먼트', '(주)디스테이션', '주식회사 해리슨앤컴퍼니', '이십세기폭스코리아(주)',
       '(주)제이앤씨미디어그룹,UIP코리아',
       '한국소니픽쳐스릴리징브에나비스타영화㈜,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)',
       '워너브러더스 코리아(주),(주)시네마서비스', '워너브러더스 코리아(주)', '월트디즈니코리아㈜',
       '워너브러더스 코리아(주),CJ ENM', '(주)팝엔터테인먼트,한국소니픽쳐스릴리징브에나비스타영화㈜',
       '유니코리아문예투자(주),CJ ENM', '(주)쇼박스', 'UIP코리아', '롯데쇼핑㈜롯데엔터테인먼트',
       'CJ ENM', '한국소니픽쳐스릴리징브에나비스타영화㈜', '(주)시네마서비스',
       '(주)엔케이컨텐츠,롯데쇼핑㈜롯데엔터테인먼트', '이십세기폭스필름코퍼레이션', '유니버설픽쳐스인터내셔널 코리아(유)',
       '유프로덕션', '㈜스튜디오이쩜영', '(주)영화사오원,CJ ENM', '(주)프라임엔터테인먼트',
       '주식회사 해리슨앤컴퍼니,워너브러더스 코리아(주)', '(주)시네마서비스,CJ ENM', 'UPI코리아',
       '(주)누리픽쳐스,롯데쇼핑㈜롯데엔터테인먼트', '(주)미로비젼',
       '(합)알지애니메이션스튜디오,씨제이 씨지브이(CJ CGV)(주)', '(주)엠케이픽처스 ,(주)두엔터테인먼트',
       '㈜메가박스', '영화사청어람(주)', '영화사청어람(주),(주)엠엔에프씨', '(주)팝엔터테인먼트,CJ ENM',
       '(주)영화사 그램,CJ ENM', 'CJ ENM,(주)시네마서비스', '㈜케이디미디어', '(주)싸이더스',
       '롯데쇼핑㈜롯데엔터테인먼트,미디어소프트', '프라임 엔터테이먼트', '(유)씨에이치엔터테인먼트',
       '(주)스튜디오210', '(주)팝엔터테인먼트,(주)프라임엔터테인먼트,(주)유레카픽쳐스',
       '(주)엔케이컨텐츠,(유)씨에이치엔터테인먼트', '(주)스튜디오이쩜영', '(주)엠플러스픽쳐스',
       '(주)드림팩트엔터테인먼트,예지림엔터테인먼트', '에스케이텔레콤(주)', '투니버스(주)온미디어',
       '(주)벤티지홀딩스', '(주)성원아이컴', '대원미디어(주)', '(주)넥스트엔터테인먼트월드(NEW)',
       '(주)시너지하우스 (시너지)', '오퍼스픽쳐스(유),(주)쇼박스',
       '판씨네마(주),(주)넥스트엔터테인먼트월드(NEW)', '실버스푼', '아이비젼엔터테인먼트(주)',
       '에이원엔터테인먼트', '씨제이 씨지브이(CJ CGV)(주)', '(주)케이알씨지,(주)시너지하우스 (시너지)',
       '(주)일레븐엔터테인먼트,(주)넥스트엔터테인먼트월드(NEW)', '예지림엔터테인먼트', '(주)화앤담이엔티',
       '유니버설픽쳐스인터내셔널 코리아(유),CJ ENM', '(주)화천공사', '(주)디스테이션,워너브러더스 코리아(주)',
       '(유)영화사 화수분,(주)에스비에스콘텐츠허브', '(주)미로비젼,아뮤즈코리아(주)',
       '(주)넥스트엔터테인먼트월드(NEW),(주)에스비에스콘텐츠허브', '(주)에스비에스콘텐츠허브',
       '워터홀컴퍼니(주),한국소니픽쳐스릴리징브에나비스타영화㈜', '씨너스엔터테인먼트(주)',
       '(주)쇼박스,이십세기폭스코리아(주)', '(주)미디어데이', '(주)박수엔터테인먼트,에이원엔터테인먼트',
       '(주)영화사 그램,이십세기폭스코리아(주)', '(주)씨제이이엔엠',
       '(주)디스테이션,(주)시너지하우스 (시너지),롯데쇼핑㈜롯데엔터테인먼트',
       '(주)시너지하우스 (시너지),롯데쇼핑㈜롯데엔터테인먼트', '(주)싸이더스,(주)넥스트엔터테인먼트월드(NEW)',
       '필라멘트픽쳐스', '롯데쇼핑㈜롯데엔터테인먼트,(주)시너지하우스 (시너지)', '에스케이플래닛(주),(주)씨제이이엔엠',
       '(주)스마일이엔티,(주)에스비에스콘텐츠허브', 'KT&G 상상마당 영화사업팀 컴퍼니에스에스(주)',
       '롯데쇼핑㈜롯데엔터테인먼트,(주)스마일이엔티', '(주)드림팩트엔터테인먼트,팝엔터테인먼트', '(주)팝파트너스',
       '(주)넥스트엔터테인먼트월드(NEW),KT&G 상상마당 영화사업팀 컴퍼니에스에스(주)',
       '롯데쇼핑㈜롯데엔터테인먼트,타임스토리그룹(주)',
       '월트디즈니컴퍼니코리아 유한책임회사,한국소니픽쳐스릴리징브에나비스타영화㈜', '(주)마인스 엔터테인먼트',
       '타임스토리그룹(주)', '팝엔터테인먼트', '씨너스엔터테인먼트(주),타임스토리그룹(주)',
       '소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)', '(주)인벤트스톤,영화사청어람(주)',
       '(주)넥스트엔터테인먼트월드(NEW),(주)씨제이이엔엠', '(주)인벤트스톤', '㈜T-JOY,씨너스엔터테인먼트(주)',
       '(주)까멜리아이엔티,(주)팝엔터테인먼트', '(주)나이너스엔터테인먼트', '아이러브시네마', '(주)팝엔터테인먼트',
       '(주)넥스트엔터테인먼트월드(NEW),판씨네마(주)',
       '(주)스튜디오디에이치엘,주식회사 해리슨앤컴퍼니,워너브러더스 코리아(주)',
       '(주)마인스 엔터테인먼트,(주)박수엔터테인먼트', '(주)영화사 빅', '판씨네마(주)',
       '글뫼 주식회사,이십세기폭스코리아(주)', '주식회사 우리네트웍스', '영화사올(주)',
       '판씨네마(주),(주)프레인글로벌', 'CGV아트하우스',
       '월트디즈니컴퍼니코리아 유한책임회사,소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)', '(주)프레인글로벌',
       '씨네그루(주)다우기술', '유나이티드픽처스(주)', '(주)리틀빅픽쳐스', '(주)포켓몬코리아',
       '(주)박수엔터테인먼트', '롯데쇼핑㈜롯데엔터테인먼트,(주)싸이더스', '(주)이수C&E', '플러스엠 엔터테인먼트',
       '플러스엠 엔터테인먼트,(주)레드로버', '윌리코기', '(주)쇼박스,(주)와우픽쳐스', '월트디즈니컴퍼니코리아(주)',
       '(주)제이앤씨미디어그룹,(주)나이너스엔터테인먼트', '(주)리틀빅픽쳐스,(주)이수C&E',
       '월트디즈니컴퍼니코리아 유한책임회사,월트디즈니컴퍼니코리아(주)', '롯데쇼핑㈜롯데엔터테인먼트,(주)마인스 엔터테인먼트',
       '(주)와우픽쳐스,(주)쇼박스', '(주)스톰픽쳐스코리아,주식회사 우리네트웍스', '(주)리틀빅픽쳐스,(주)인벤트스톤',
       '(주)와우픽쳐스', '월트디즈니컴퍼니코리아 유한책임회사,이십세기폭스코리아(주)', '(주)라이크콘텐츠',
       'CGV아트하우스,(주)리틀빅픽쳐스', '(주)스마일이엔티,(주)영화사오원', '와이드 릴리즈(주)',
       'TCO(주)더콘텐츠온', '오퍼스픽쳐스(유)', '(주)시네마서비스,(주)나이너스엔터테인먼트', '(주)아이코닉스',
       '(주)삼지애니메이션', '(주)키다리이엔티', '파이오니아21', '(주)대명문화공장,(주)리틀빅픽쳐스',
       '(주)박수엔터테인먼트,㈜코리아스크린', '(주)콘텐츠 난다긴다', '(주)제이앤씨미디어그룹',
       '월트디즈니컴퍼니코리아 유한책임회사', '오퍼스픽쳐스(유),CGV아트하우스', '(주)이수C&E,(주)스톰픽쳐스코리아',
       '(주)제이앤씨미디어그룹,(유)조이앤시네마', '(주)리틀빅픽쳐스,(주)페퍼민트앤컴퍼니',
       '소니픽쳐스엔터테인먼트코리아주식회사극장배급지점', 'CGV아트하우스,영화사 풀',
       '동우에이앤이(주),(주)박수엔터테인먼트', '(주)제이앤씨미디어그룹,TCO(주)더콘텐츠온',
       '롯데쇼핑㈜롯데엔터테인먼트,(주)리틀빅픽쳐스', '플러스엠 엔터테인먼트,(주)키위미디어그룹',
       '(주)키다리이엔티,주식회사 키위컴퍼니', '㈜코리아스크린', '플러스엠 엔터테인먼트,주식회사 키위컴퍼니',
       '(주)이수C&E,(주)에이원엔터테인먼트', '(주)더블앤조이픽쳐스,TCO(주)더콘텐츠온',
       '힘컨텐츠(주),(주)디스테이션', '(주)홈초이스', '롯데컬처웍스(주)롯데엔터테인먼트', '(주)그노스',
       '(주)누리픽쳐스', '롯데컬처웍스(주)롯데엔터테인먼트,(주)키다리이엔티', '(주)이수C&E,(주)시너지미디어',
       '(주)엠제이픽쳐스', '(주)애니플러스', '(주)스마일이엔티', '(주)메리크리스마스,TCO(주)더콘텐츠온',
       '(주)셀트리온엔터테인먼트', '(주)누리픽쳐스,(주)케이티알파', '(주)삼백상회,(주)팬엔터테인먼트',
       '(주)영화사오원', '(주)에이스메이커무비웍스,(주)키위미디어그룹', '플러스엠 엔터테인먼트,(주)콘텐츠 난다긴다',
       'TCO(주)더콘텐츠온,(주)제이앤씨미디어그룹', 'CGV ICECON,월트디즈니컴퍼니코리아 유한책임회사',
       '(주)에이스메이커무비웍스', '(주)영화사 빅,(주)버킷스튜디오', '(주)메리크리스마스',
       '플러스엠 엔터테인먼트,(주)미디어캐슬,워터홀컴퍼니(주)', '(주)크리픽쳐스', '(주)올스타엔터테인먼트',
       '(주)씨제이이엔엠,(주)덱스터스튜디오', '(주)드림팩트엔터테인먼트,(주)제이앤씨미디어그룹,TCO(주)더콘텐츠온',
       '플러스엠 엔터테인먼트,(주)리틀빅픽쳐스', '(주)드림팩트엔터테인먼트,(주)삼백상회', '더핑크퐁컴퍼니(주)',
       '(주)영화사 빅,(주)다날엔터테인먼트', '동우에이앤이(주)', '(주)삼백상회', '씨제이포디플렉스 주식회사',
       '소니픽쳐스엔터테인먼트코리아주식회사극장배급지점,(주)키다리이엔티', '(주)영화사 안다미로',
       '(주)키위미디어그룹,오퍼스픽쳐스(유),(주)씨네필운', 'CGV ICECON',
       '(주)누리픽쳐스,(주)영화특별시에스엠씨', '(주)영화사 그램', '(주)리틀빅픽쳐스,(주)트리니티픽쳐스',
       '(재)CBS,주식회사 블루필름웍스', 'TCO(주)더콘텐츠온,(주)디스테이션', '워터홀컴퍼니(주)',
       '(주)영화특별시에스엠씨', '(주)케이티알파,판씨네마(주)', '(재)서울예술단',
       'CGV ICECON,씨제이포디플렉스 주식회사', '(주)아이필름코퍼레이션,씨제이 씨지브이(CJ CGV)(주)',
       '주식회사 컨텐츠썬', '(주)리틀빅픽쳐스,(주)레드로버',
       '(주)스튜디오 산타클로스엔터테인먼트,(주)제이앤씨미디어그룹', '(주)케이티알파,씨제이 씨지브이(CJ CGV)(주)',
       '(주)콘텐츠판다', '씨제이 씨지브이(CJ CGV)(주),(주)씨네필운',
       '(주)스튜디오 산타클로스엔터테인먼트,(주)아센디오,(주)제이앤씨미디어그룹',
       '주식회사 에이비오엔터테인먼트,플러스엠 엔터테인먼트', '(주)씨제이이엔엠,주식회사 티빙'], dtype=object)

In [201]:
movie_df['배급사'][64].split(',')[0]

'(주)엔케이컨텐츠'

In [202]:
bae = []

for i in movie_df['배급사']:
    bae.append(i.split(',')[0])

In [203]:
movie_df['배급사_수정'] = bae

In [204]:
len(movie_df['배급사_수정'].unique()),movie_df['배급사_수정'].unique()

(133,
 array(['(주)드림팩트엔터테인먼트', '(주)디스테이션', '주식회사 해리슨앤컴퍼니', '이십세기폭스코리아(주)',
        '(주)제이앤씨미디어그룹', '한국소니픽쳐스릴리징브에나비스타영화㈜', '워너브러더스 코리아(주)',
        '월트디즈니코리아㈜', '(주)팝엔터테인먼트', '유니코리아문예투자(주)', '(주)쇼박스', 'UIP코리아',
        '롯데쇼핑㈜롯데엔터테인먼트', 'CJ ENM', '(주)시네마서비스', '(주)엔케이컨텐츠',
        '이십세기폭스필름코퍼레이션', '유니버설픽쳐스인터내셔널 코리아(유)', '유프로덕션', '㈜스튜디오이쩜영',
        '(주)영화사오원', '(주)프라임엔터테인먼트', 'UPI코리아', '(주)누리픽쳐스', '(주)미로비젼',
        '(합)알지애니메이션스튜디오', '(주)엠케이픽처스 ', '㈜메가박스', '영화사청어람(주)', '(주)영화사 그램',
        '㈜케이디미디어', '(주)싸이더스', '프라임 엔터테이먼트', '(유)씨에이치엔터테인먼트', '(주)스튜디오210',
        '(주)스튜디오이쩜영', '(주)엠플러스픽쳐스', '에스케이텔레콤(주)', '투니버스(주)온미디어',
        '(주)벤티지홀딩스', '(주)성원아이컴', '대원미디어(주)', '(주)넥스트엔터테인먼트월드(NEW)',
        '(주)시너지하우스 (시너지)', '오퍼스픽쳐스(유)', '판씨네마(주)', '실버스푼', '아이비젼엔터테인먼트(주)',
        '에이원엔터테인먼트', '씨제이 씨지브이(CJ CGV)(주)', '(주)케이알씨지', '(주)일레븐엔터테인먼트',
        '예지림엔터테인먼트', '(주)화앤담이엔티', '(주)화천공사', '(유)영화사 화수분', '(주)에스비에스콘텐츠허브',
        '워터홀컴퍼니(주)', '씨너스엔터테인먼트(주)', '(주)미디어데이', '(주)박수엔터테인먼트',
        '(주)씨제이이엔엠', '필라멘트픽쳐스', '에스케이플래닛(주)', '(주)스마일이엔티',
        'KT&G 상상마당 영화사업팀 컴퍼니에스에스(주)', '(주)팝파트너스', '월트디즈니컴퍼니코리아 유한책임회사',
        '(주)마인스 엔터테인먼트', '타임스토리그룹(주)', '팝엔터테인먼트',
        '소니픽쳐스릴리징월트디즈니스튜디오스코리아(주)', '(주)인벤트스톤', '㈜T-JOY', '(주)까멜리아이엔티',
        '(주)나이너스엔터테인먼트', '아이러브시네마', '(주)스튜디오디에이치엘', '(주)영화사 빅', '글뫼 주식회사',
        '주식회사 우리네트웍스', '영화사올(주)', 'CGV아트하우스', '(주)프레인글로벌', '씨네그루(주)다우기술',
        '유나이티드픽처스(주)', '(주)리틀빅픽쳐스', '(주)포켓몬코리아', '(주)이수C&E', '플러스엠 엔터테인먼트',
        '윌리코기', '월트디즈니컴퍼니코리아(주)', '(주)와우픽쳐스', '(주)스톰픽쳐스코리아', '(주)라이크콘텐츠',
        '와이드 릴리즈(주)', 'TCO(주)더콘텐츠온', '(주)아이코닉스', '(주)삼지애니메이션', '(주)키다리이엔티',
        '파이오니아21', '(주)대명문화공장', '(주)콘텐츠 난다긴다', '소니픽쳐스엔터테인먼트코리아주식회사극장배급지점',
        '동우에이앤이(주)', '㈜코리아스크린', '(주)더블앤조이픽쳐스', '힘컨텐츠(주)', '(주)홈초이스',
        '롯데컬처웍스(주)롯데엔터테인먼트', '(주)그노스', '(주)엠제이픽쳐스', '(주)애니플러스',
        '(주)메리크리스마스', '(주)셀트리온엔터테인먼트', '(주)삼백상회', '(주)에이스메이커무비웍스',
        'CGV ICECON', '(주)크리픽쳐스', '(주)올스타엔터테인먼트', '더핑크퐁컴퍼니(주)',
        '씨제이포디플렉스 주식회사', '(주)영화사 안다미로', '(주)키위미디어그룹', '(재)CBS',
        '(주)영화특별시에스엠씨', '(주)케이티알파', '(재)서울예술단', '(주)아이필름코퍼레이션',
        '주식회사 컨텐츠썬', '(주)스튜디오 산타클로스엔터테인먼트', '(주)콘텐츠판다', '주식회사 에이비오엔터테인먼트'],
       dtype=object))

In [205]:
distribution_encoding = le.fit_transform(movie_df['배급사_수정'])

distribution_encoding

array([ 11,  12, 122, ...,  19, 109,  35])

In [206]:
movie_df['배급사_LE'] = distribution_encoding

In [86]:
# 연령등급 Label Encoding
rating_encoding = le.fit_transform(movie_df['연령등급'])

rating_encoding

array([ 3,  3,  2, ...,  2, 11,  3])

In [87]:
movie_df['연령등급_LE'] = rating_encoding

In [88]:
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 1]

              영화명        개봉일     연령등급  연령등급_LE
2001  미스터트롯: 더 무비 2020-10-22   전체 관람가        1

In [89]:
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 2]

                               영화명        개봉일     연령등급  연령등급_LE
1801                    어벤져스: 엔드게임 2019-04-24  12세 관람가        2
1650                     신과함께-인과 연 2018-08-01  12세 관람가        2
1651                  어벤져스: 인피니티 워 2018-04-25  12세 관람가        2
1202              어벤져스: 에이지 오브 울트론 2015-04-23  12세 관람가        2
300                            해운대 2009-07-22  12세 관람가        2
...                            ...        ...      ...      ...
2229                    틱, 틱... 붐! 2021-11-12  12세 관람가        2
2218                          리스펙트 2021-09-08  12세 관람가        2
2075  킹 오브 프리즘 올 스타즈 -프리즘 쇼☆베스트10- 2020-04-02  12세 관람가        2
2091                 하이큐!! 또 다른 도전 2020-05-14  12세 관람가        2
2097                         트루먼 쇼 1998-10-24  12세 관람가        2

[548 rows x 4 columns]

In [90]:
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 3]

                  영화명        개봉일     연령등급  연령등급_LE
1800             극한직업 2019-01-23  15세 관람가        3
1050               명량 2014-07-30  15세 관람가        3
1200              베테랑 2015-08-05  15세 관람가        3
1201               암살 2015-07-22  15세 관람가        3
1500            택시운전사 2017-08-02  15세 관람가        3
...               ...        ...      ...      ...
2093             레플리카 2019-09-25  15세 관람가        3
2241       브리짓 존스의 일기 2001-09-01  15세 관람가        3
2096  더 렌탈 : 소리없는 감시자 2020-09-16  15세 관람가        3
2094       할로윈: 살인마 잭 2020-07-21  15세 관람가        3
2092         무협: 더 코드 2020-06-22  15세 관람가        3

[767 rows x 4 columns]

In [91]:
# 전체관람가
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 4]

,영화명,개봉일,연령등급,연령등급_LE
1007,비행기,2013-12-19,"<dd>10.0 <span class=""bg_point per100""><span c...",4

In [92]:
# 전체관람가
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 5]

         영화명        개봉일          연령등급  연령등급_LE
1033  바람이 분다 2013-09-05  <dd>17분</dd>        5

In [93]:
# 15세 관람가
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 6]

       영화명        개봉일          연령등급  연령등급_LE
1144  오큘러스 2014-05-29  <dd>18분</dd>        6

In [94]:
# 전체관람가
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 7]

             영화명        개봉일 연령등급  연령등급_LE
352  몬스터 vs 에이리언 2009-04-23   PG        7

In [95]:
# 12세 관람가
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 8]

     영화명        개봉일  연령등급  연령등급_LE
979  캐치미 2013-12-18  대한민국        8

In [96]:
# 전체관람가
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 9]

       영화명        개봉일 연령등급  연령등급_LE
993  눈의 여왕 2013-02-07   미국        9

In [97]:
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 10]

                        영화명        개봉일    연령등급  연령등급_LE
1802                 겨울왕국 2 2019-11-21  전체 관람가       10
1803                    알라딘 2019-05-23  전체 관람가       10
1051                   겨울왕국 2014-01-16  전체 관람가       10
604                  쿵푸팬더 2 2011-05-26  전체 관람가       10
1508                 미녀와 야수 2017-03-16  전체 관람가       10
...                     ...        ...     ...      ...
2234                    스피릿 2021-09-15  전체 관람가       10
2238  매직 스쿨: 초보마법사 아우라의 대모험 2021-10-07  전체 관람가       10
2082                   스파이즈 2020-01-15  전체 관람가       10
2083           루팡 3세: 더 퍼스트 2020-05-21  전체 관람가       10
2084   마이 리틀 포니: 레인보우 로드 트립 2020-10-29  전체 관람가       10

[445 rows x 4 columns]

In [98]:
movie_df[['영화명','개봉일','연령등급','연령등급_LE']][movie_df['연령등급_LE'] == 11]

                     영화명        개봉일      연령등급  연령등급_LE
1204                내부자들 2015-11-19  청소년 관람불가       11
1206      킹스맨 : 시크릿 에이전트 2015-02-11  청소년 관람불가       11
450                  아저씨 2010-08-04  청소년 관람불가       11
1509          킹스맨: 골든 서클 2017-09-27  청소년 관람불가       11
757   범죄와의 전쟁: 나쁜놈들 전성시대 2012-02-02  청소년 관람불가       11
...                  ...        ...       ...      ...
2088     요가학원 : 죽음의 쿤달리니 2020-11-18  청소년 관람불가       11
2078           레옹 디 오리지널 2020-06-11  청소년 관람불가       11
2090          트로이 디렉터스 컷 2020-07-03  청소년 관람불가       11
2086             델마와 루이스 1993-11-27  청소년 관람불가       11
2089              죽이는 여자 2020-08-23  청소년 관람불가       11

[317 rows x 4 columns]

In [99]:
# df = df.replace({'B' : -500}, 0) : 바꿀 값의 범위를 B열로만 한정

In [100]:
movie_df['연령등급'].unique()

array(['15세 관람가', '12세 관람가', '전체 관람가', '청소년 관람불가', ' 15세 관람가', 'PG',
       '대한민국', '<dd>18분</dd>', '미국',
       '<dd>10.0 <span class="bg_point per100"><span class="ico_point"></span></span></dd>',
       ' 전체 관람가', '<dd>17분</dd>'], dtype=object)

In [101]:
movie_df = movie_df.replace({'연령등급' : 'PG'}, '전체 관람가')

In [102]:
movie_df = movie_df.replace({'연령등급' : ' 전체 관람가'}, '전체 관람가')
movie_df = movie_df.replace({'연령등급' : '<dd>17분</dd>'}, '전체 관람가')
movie_df = movie_df.replace({'연령등급' : '<dd>10.0 <span class="bg_point per100"><span class="ico_point"></span></span></dd>'}, '전체 관람가')
movie_df = movie_df.replace({'연령등급' : '미국'}, '전체 관람가')

In [103]:
movie_df['연령등급'].unique()

array(['15세 관람가', '12세 관람가', '전체 관람가', '청소년 관람불가', ' 15세 관람가', '대한민국',
       '<dd>18분</dd>'], dtype=object)

In [104]:
movie_df = movie_df.replace({'연령등급' : '대한민국'}, '12세 관람가')
movie_df = movie_df.replace({'연령등급' : '<dd>18분</dd>'}, '15세 관람가')

In [105]:
movie_df = movie_df.replace({'연령등급' : ' 15세 관람가'}, '15세 관람가')

In [106]:
movie_df['연령등급'].unique()

array(['15세 관람가', '12세 관람가', '전체 관람가', '청소년 관람불가'], dtype=object)

In [107]:
rating_encoding = le.fit_transform(movie_df['연령등급'])

rating_encoding

array([1, 1, 0, ..., 0, 3, 1])

In [108]:
movie_df['연령등급_LE'] = rating_encoding

In [109]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2086 entries, 1800 to 2092
Data columns (total 23 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2086 non-null   int64
 1   순위          2086 non-null   int64
 2   영화명         2086 non-null   object
 3   개봉일         2086 non-null   datetime64[ns]
 4   매출액         2086 non-null   int64
 5   매출액 점유율     2086 non-null   object
 6   관객수         2086 non-null   int64
 7   스크린수        2086 non-null   int64
 8   상영횟수        2086 non-null   int64
 9   대표국적        2086 non-null   object
 10  국적          2086 non-null   object
 11  배급사         2086 non-null   object
 12  연령등급        2086 non-null   object
 13  장르          2086 non-null   object
 14  러닝타임        2086 non-null   float64
 15  감독          2086 non-null   object
 16  개봉월         2086 non-null   float64
 17  계절          2086 non-null   object
 18  감독_LE       2086 non-null   int32
 19  계절_LE       2086 non-null   int32
 20  국적_LE       2086 non-null   int32
 21  배급사_LE      2086 non-null   int32
 22  연령등급_LE     2086 non-null   int32
dtypes: datetime64[ns](1), float64(2), int32(5), int64(6), object(9)
memory usage: 414.9+ KB

In [110]:
# 장르 값 변경 후  Label Encoding
movie_df['장르']

1800                             코미디
1050                              액션
1801                          액션, SF
1802    애니메이션, 모험, 코미디, 가족, 판타지, 뮤지컬
1803        모험, 가족, 판타지, 뮤지컬, 멜로/로맨스
                    ...
2086                             드라마
2094                              공포
2097                    코미디, 드라마, SF
2089                              공포
2092                              액션
Name: 장르, Length: 2086, dtype: object

In [111]:
gan = []

for i in movie_df['장르']:
    gan.append(i.split(',')[0])

In [112]:
len(gan), gan

(2086,
 ['코미디',
  '액션',
  '액션',
  '애니메이션',
  '모험',
  '액션',
  '판타지',
  '액션',
  '액션',
  '드라마',
  '범죄',
  '액션',
  '코미디',
  '드라마',
  '액션',
  '드라마',
  '애니메이션',
  '모험',
  'SF',
  '드라마',
  '액션',
  '범죄',
  '액션',
  '액션',
  'SF',
  '드라마',
  '액션',
  '판타지',
  'SF',
  '모험',
  '드라마',
  '액션',
  '코미디',
  '액션',
  '액션',
  '액션',
  '드라마',
  '드라마',
  '범죄',
  '코미디',
  '범죄',
  '액션',
  '미스터리',
  '액션',
  '액션',
  '전쟁',
  '코미디',
  '드라마',
  '액션',
  '액션',
  'SF',
  '액션',
  '액션',
  '액션',
  '판타지',
  '드라마',
  '액션',
  '액션',
  '액션',
  '액션',
  'SF',
  '액션',
  '액션',
  '액션',
  '멜로/로맨스',
  '액션',
  '액션',
  '드라마',
  '스릴러',
  '서사',
  '액션',
  '드라마',
  '애니메이션',
  '드라마',
  'SF',
  '액션',
  '범죄',
  '범죄',
  '액션',
  '드라마',
  '드라마',
  '공포',
  '판타지',
  '드라마',
  '모험',
  '드라마',
  '액션',
  '액션',
  '액션',
  '액션',
  '스릴러',
  '액션',
  '모험',
  '스릴러',
  '범죄',
  '드라마',
  '범죄',
  '판타지',
  '액션',
  '액션',
  '액션',
  '범죄',
  '드라마',
  '드라마',
  '애니메이션',
  '액션',
  '애니메이션',
  '액션',
  '범죄',
  '코미디',
  '드라마',
  '스릴러',
  '범죄',
  '액션',
  'SF',
  '코미디',
  '액션',
  '모험',
  '멜로/로맨스',
  '액션',
  '액션',
  '범죄',
  '드라마',
  '액션',
  '범죄',
  '액션',
  'SF',
  '드라마',
  '액션',
  '드라마',
  '드라마',
  '액션',
  '액션',
  '액션',
  '애니메이션',
  '범죄',
  '드라마',
  'SF',
  '드라마',
  '액션',
  '코미디',
  '액션',
  '드라마',
  '멜로/로맨스',
  '코미디',
  '애니메이션',
  '액션',
  '액션',
  '드라마',
  'SF',
  '코미디',
  'SF',
  '애니메이션',
  '범죄',
  '판타지',
  '코미디',
  '범죄',
  '애니메이션',
  '범죄',
  '코미디',
  '코미디',
  '코미디',
  'SF',
  '애니메이션',
  'SF',
  '코미디',
  '액션',
  '액션',
  '드라마',
  '미스터리',
  '애니메이션',
  '범죄',
  '코미디',
  '액션',
  '모험',
  '액션',
  '액션',
  '액션',
  '액션',
  '액션',
  '모험',
  '드라마',
  '드라마',
  '드라마',
  '드라마',
  '드라마',
  '범죄',
  '액션',
  '멜로/로맨스',
  '애니메이션',
  '액션',
  '코미디',
  '액션',
  '드라마',
  '애니메이션',
  '액션',
  '애니메이션',
  '전쟁',
  '범죄',
  '드라마',
  '멜로/로맨스',
  '코미디',
  '액션',
  '액션',
  '드라마',
  '코미디',
  '드라마',
  '범죄',
  '판타지',
  '애니메이션',
  '액션',
  '드라마',
  '드라마',
  '드라마',
  '액션',
  '액션',
  '애니메이션',
  '전쟁',
  '판타지',
  '판타지',
  '느와르',
  '드라마',
  '스릴러',
  '모험',
  '드라마',
  '액션',
  '애니메이션',
  '액션',
  '액션',
  '액션',
  '공포',
  '판타지',
  '드라마',
  '범죄',
  '액션',
  '액션',
  '드라마',
  '액션',
  '액션',
  '범죄',
  '멜로/로맨스',
  '범죄',
  '범죄',
  '모험',
  '멜로/로맨스',
  '애니메이션',
  '애니메이션',
  '액션',
  '액션',
  '범죄',
  '코미디',
  '범죄',
  '드라마',
  '액션',
  '코미디',
  '액션',
  '판타지',
  '멜로/로맨스',
  '판타지',
  'SF',
  '액션',
  '미스터리',
  '드라마',
  '범죄',
  '액션',
  '멜로/로맨스',
  '모험',
  '범죄',
  '뮤지컬',
  '액션',
  '애니메이션',
  'SF',
  '멜로/로맨스',
  '드라마',
  '드라마',
  '액션',
  '멜로/로맨스',
  '범죄',
  '액션',
  '애니메이션',
  '애니메이션',
  '드라마',
  '애니메이션',
  '드라마',
  '액션',
  '액션',
  '액션',
  '액션',
  '코미디',
  '드라마',
  '범죄',
  '미스터리',
  '액션',
  '액션',
  '드라마',
  '드라마',
  '스릴러',
  '애니메이션',
  '대한민국',
  '코미디',
  '액션',
  '드라마',
  '코미디',
  '전쟁',
  '액션',
  '액션',
  '액션',
  '애니메이션',
  '드라마',
  '액션',
  '액션',
  '액션',
  '미스터리',
  '코미디',
  '범죄',
  '액션',
  '스릴러',
  '범죄',
  '액션',
  '코미디',
  '모험',
  '액션',
  '액션',
  '멜로/로맨스',
  '판타지',
  'SF',
  '액션',
  '모험',
  '공포',
  '판타지',
  '코미디',
  '다큐멘터리',
  '멜로/로맨스',
  '모험',
  '스페인',
  '판타지',
  '액션',
  '드라마',
  '액션',
  '범죄',
  '공포',
  '범죄',
  '멜로/로맨스',
  '액션',
  '액션',
  '드라마',
  '공포',
  '모험',
  '코미디',
  '공포',
  'SF',
  '멜로/로맨스',
  '범죄',
  '드라마',
  '액션',
  '스릴러',
  '판타지',
  '멜로/로맨스',
  '액션',
  '멜로/로맨스',
  '드라마',
  '애니메이션',
  '드라마',
  '액션',
  '판타지',
  '코미디',
  '다큐멘터리',
  '액션',
  '드라마',
  '액션',
  '액션',
  '액션',
  '액션',
  '애니메이션',
  '액션',
  '범죄',
  '액션',
  '스릴러',
  '액션',
  '드라마',
  '코미디',
  '범죄',
  '애니메이션',
  '액션',
  '판타지',
  '액션',
  '액션',
  '코미디',
  '멜로/로맨스',
  '범죄',
  '드라마',
  '드라마',
  '범죄',
  '범죄',
  '드라마',
  '공포',
  '범죄',
  '멜로/로맨스',
  '멜로/로맨스',
  '드라마',
  '코미디',
  '드라마',
  '액션',
  '범죄',
  '액션',
  '미스터리',
  '액션',
  '범죄',
  '액션',
  '액션',
  '멜로/로맨스',
  '판타지',
  '애니메이션',
  '액션',
  '드라마',
  '코미디',
  '스릴러',
  '액션',
  '액션',
  '코미디',
  '코미디',
  '스릴러',
  '코미디',
  '스릴러',
  '미스터리',
  '모험',
  '애니메이션',
  '공포',
  '드라마',
  '드라마',
  '액션',
  '드라마',
  '드라마',
  '애니메이션',
  '스릴러',
  '액션',
  '드라마',
  '액션',
  '애니메이션',
  '드라마',
  '코미디',
  '범죄',
  '판타지',
  '드라마',
  '드라마',
  '멜로/로맨스',
  '액션',
  '범죄',
  '액션',
  '드라마',
  '스릴러',
  '드라마',
  '드라마',
  '코미디',
  '범죄',
  '드라마',
  '액션',
  '드라마',
  '액션',
  '코미디',
  '액션',
  '액션',
  '범죄',
  '드라마',
  '애니메이션',
  '코미디',
  '범죄',
  '액션',
  '드라마',
  '미스터리',
  '전쟁',
  '액션',
  '액션',
  '액션',
  '공포',
  '코미디',
  '미스터리',
  '범죄',
  '액션',
  '판타지',
  '애니메이션',
  '액션',
  '판타지',
  'SF',
  '멜로/로맨스',
  '스릴러',
  '드라마',
  '미스터리',
  '액션',
  '판타지',
  '범죄',
  '드라마',
  '드라마',
  '코미디',
  '액션',
  '미스터리',
  '코미디',
  '드라마',
  '액션',
  '공포',
  '액션',
  '드라마',
  '멜로/로맨스',
  '전쟁',
  '액션',
  '애니메이션',
  '코미디',
  '액션',
  '코미디',
  '액션',
  '범죄',
  '액션',
  '범죄',
  '코미디',
  '범죄',
  '멜로/로맨스',
  '스릴러',
  '드라마',
  '스릴러',
  '코미디',
  '액션',
  '코미디',
  '액션',
  '애니메이션',
  '액션',
  '코미디',
  '액션',
  '스릴러',
  '애니메이션',
  '액션',
  '애니메이션',
  '액션',
  '코미디',
  '액션',
  '드라마',
  '스릴러',
  '드라마',
  '드라마',
  '판타지',
  '액션',
  '스릴러',
  '범죄',
  '드라마',
  '드라마',
  '스릴러',
  '미스터리',
  '애니메이션',
  'SF',
  '코미디',
  '판타지',
  '전쟁',
  '액션',
  '액션',
  '액션',
  '드라마',
  '드라마',
  '공포',
  '드라마',
  '미스터리',
  '드라마',
  '공포',
  '미스터리',
  '드라마',
  '드라마',
  '액션',
  '드라마',
  '범죄',
  '대한민국',
  '애니메이션',
  '범죄',
  '공포',
  '액션',
  '액션',
  'SF',
  'SF',
  '가족',
  '스릴러',
  '범죄',
  '공포',
  '액션',
  '애니메이션',
  '액션',
  '공포',
  '멜로/로맨스',
  'SF',
  '판타지',
  '코미디',
  '코미디',
  '액션',
  '애니메이션',
  '애니메이션',
  '액션',
  '액션',
  '뮤지컬',
  '모험',
  '드라마',
  '스릴러',
  '액션',
  '액션',
  '드라마',
  '공포',
  '미스터리',
  '코미디',
  '스릴러',
  '애니메이션',
  '드라마',
  '액션',
  '멜로/로맨스',
  '모험',
  '코미디',
  '드라마',
  '드라마',
  '판타지',
  'SF',
  '스릴러',
  '코미디',
  '드라마',
  '범죄',
  '모험',
  '드라마',
  '드라마',
  '애니메이션',
  '코미디',
  '스릴러',
  '멜로/로맨스',
  '애니메이션',
  '액션',
  '드라마',
  '액션',
  '모험',
  '코미디',
  '액션',
  '멜로/로맨스',
  '범죄',
  '애니메이션',
  '드라마',
  '애니메이션',
  '코미디',
  '액션',
  '모험',
  '드라마',
  '드라마',
  '액션',
  '드라마',
  '드라마',
  '코미디',
  '모험',
  '애니메이션',
  '범죄',
  '드라마',
  '공포',
  '액션',
  '드라마',
  '코미디',
  'SF',
  '코미디',
  'SF',
  '액션',
  '드라마',
  '멜로/로맨스',
  '액션',
  '멜로/로맨스',
  '미스터리',
  '공포',
  '모험',
  '코미디',
  '애니메이션',
  '모험',
  '액션',
  'SF',
  '멜로/로맨스',
  '범죄',
  '코미디',
  '드라마',
  '드라마',
  '애니메이션',
  '스릴러',
  '스릴러',
  '모험',
  '액션',
  '액션',
  '멜로/로맨스',
  '애니메이션',
  '코미디',
  '액션',
  '액션',
  '코미디',
  '액션',
  '코미디',
  '액션',
  '전쟁',
  '드라마',
  '모험',
  '드라마',
  '드라마',
  '애니메이션',
  '애니메이션',
  '멜로/로맨스',
  '애니메이션',
  '드라마',
  '액션',
  '액션',
  'SF',
  '코미디',
  '판타지',
  '공포',
  '판타지',
  '멜로/로맨스',
  '코미디',
  'SF',
  '미스터리',
  '드라마',
  '드라마',
  '드라마',
  'SF',
  '드라마',
  '액션',
  '범죄',
  '액션',
  '모험',
  '멜로/로맨스',
  '모험',
  '애니메이션',
  '애니메이션',
  '액션',
  '애니메이션',
  '드라마',
  '스릴러',
  'SF',
  '애니메이션',
  '애니메이션',
  '액션',
  '드라마',
  '드라마',
  '애니메이션',
  '액션',
  '드라마',
  '드라마',
  '공포',
  '액션',
  '드라마',
  '액션',
  '애니메이션',
  '애니메이션',
  '애니메이션',
  '드라마',
  '범죄',
  '애니메이션',
  '드라마',
  '드라마',
  '코미디',
  '공포',
  '액션',
  '액션',
  '액션',
  '드라마',
  '판타지',
  '액션',
  '액션',
  '애니메이션',
  '공포',
  '미스터리',
  '드라마',
  '미스터리',
  '드라마',
  '공포',
  '코미디',
  '애니메이션',
  '판타지',
  '범죄',
  '멜로/로맨스',
  '드라마',
  '액션',
  '모험',
  '코미디',
  '범죄',
  '드라마',
  '애니메이션',
  '애니메이션',
  '애니메이션',
  '멜로/로맨스',
  '드라마',
  '코미디',
  'SF',
  '코미디',
  '액션',
  '스릴러',
  '애니메이션',
  '애니메이션',
  '드라마',
  '드라마',
  '스릴러',
  '드라마',
  '드라마',
  '멜로/로맨스',
  '애니메이션',
  '액션',
  'SF',
  '드라마',
  '멜로/로맨스',
  '액션',
  '스릴러',
  '코미디',
  '코미디',
  '애니메이션',
  '공포',
  '애니메이션',
  '액션',
  '애니메이션',
  '드라마',
  '액션',
  '액션',
  '액션',
  '액션',
  '액션',
  '액션',
  '미스터리',
  '공포',
  '애니메이션',
  '드라마',
  '액션',
  '액션',
  '범죄',
  '스릴러',
  '액션',
  '전쟁',
  'SF',
  '드라마',
  '멜로/로맨스',
  '미스터리',
  '액션',
  '공포',
  '멜로/로맨스',
  '드라마',
  '판타지',
  '액션',
  '액션',
  '멜로/로맨스',
  '드라마',
  '코미디',
  '스릴러',
  '애니메이션',
  'SF',
  'SF',
  '범죄',
  '애니메이션',
  '액션',
  '코미디',
  'SF',
  '액션',
  '액션',
  '드라마',
  '액션',
  '액션',
  '코미디',
  '애니메이션',
  '판타지',
  '애니메이션',
  '액션',
  '액션',
  '애니메이션',
  '드라마',
  '코미디',
  '액션',
  '스릴러',
  '드라마',
  '미스터리',
  '액션',
  '범죄',
  '드라마',
  '멜로/로맨스',
  '공포',
  '코미디',
  '서스펜스',
  '드라마',
  '코미디',
  '모험',
  '스릴러',
  '멜로/로맨스',
  'SF',
  '액션',
  '공포',
  '스릴러',
  '드라마',
  '애니메이션',
  '드라마',
  '코미디',
  '애니메이션',
  '드라마',
  '액션',
  '코미디',
  '공포',
  '모험',
  '애니메이션',
  '스릴러',
  '판타지',
  '액션',
  '코미디',
  '코미디',
  '판타지',
  '액션',
  '액션',
  '드라마',
  '모험',
  '애니메이션',
  '코미디',
  '애니메이션',
  '액션',
  '액션',
  '판타지',
  '드라마',
  '액션',
  '애니메이션',
  '공포',
  '코미디',
  '공포',
  '드라마',
  '스릴러',
  '액션',
  '드라마',
  '드라마',
  '드라마',
  '애니메이션',
  '드라마',
  '애니메이션',
  '드라마',
  '공포',
  '액션',
  'SF',
  '액션',
  '멜로/로맨스',
  '애니메이션',
  'SF',
  '모험',
  '스릴러',
  '드라마',
  '액션',
  '드라마',
  '애니메이션',
  '드라마',
  '드라마',
  '스릴러',
  '스릴러',
  '멜로/로맨스',
  '코미디',
  '액션',
  '애니메이션',
  'SF',
  '애니메이션',
  '액션',
  '애니메이션',
  '공포',
  '애니메이션',
  '드라마',
  '드라마',
  '드라마',
  '드라마',
  '드라마',
  '코미디',
  '액션',
  '드라마',
  '공포',
  '미스터리',
  '드라마',
  '멜로/로맨스',
  '코미디',
  '범죄',
  '드라마',
  '애니메이션',
  '드라마',
  '액션',
  '애니메이션',
  '판타지',
  '드라마',
  '판타지',
  '멜로/로맨스',
  '코미디',
  '범죄',
  '액션',
  '드라마',
  '드라마',
  '드라마',
  '액션',
  '드라마',
  '드라마',
  '코미디',
  '스릴러',
  '액션',
  '코미디',
  '코미디',
  '스릴러',
  '액션',
  '드라마',
  '공포',
  '액션',
  '애니메이션',
  '공포',
  '멜로/로맨스',
  '애니메이션',
  '공포',
  ...])

In [113]:
movie_df['장르_수정'] = gan

In [114]:
movie_df['장르_수정'].unique()

array(['코미디', '액션', '애니메이션', '모험', '판타지', '드라마', '범죄', 'SF', '미스터리', '전쟁',
       '멜로/로맨스', '스릴러', '서사', '공포', '느와르', '뮤지컬', '대한민국', '다큐멘터리', '스페인',
       '가족', '서스펜스', '공연실황', '미국', '블랙코미디'], dtype=object)

In [115]:
# 공포
movie_df[movie_df['장르_수정']=='미국']

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,...,러닝타임,감독,개봉월,계절,감독_LE,계절_LE,국적_LE,배급사_LE,연령등급_LE,장르_수정
523,73,74,파라노말 액티비티,2010-01-13,3207923500,0.003,438402,184,17015,미국,...,91.0,윌리엄 유뱅크,1.0,겨울,744,1,6,7,0,미국

In [116]:
# 코미디
# 애니매이션
# 시대극
# 다큐멘터리
# 시대극
movie_df[movie_df['장르_수정']=='대한민국']

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,...,러닝타임,감독,개봉월,계절,감독_LE,계절_LE,국적_LE,배급사_LE,연령등급_LE,장르_수정
1683,333,34,명당,2018-09-19,17900775524,0.01,2087474,1117,58450,한국,...,126.0,박희곤,9.0,가을,448,0,21,218,0,대한민국
1966,166,17,천문: 하늘에 묻는다,2019-12-26,8695248070,0.018,1035024,929,43246,한국,...,132.0,허진호,12.0,겨울,1240,1,21,160,0,대한민국
1738,388,89,번 더 스테이지: 더 무비,2018-11-15,2671391900,0.002,315010,243,4714,한국,...,83.0,박준수,11.0,가을,435,0,21,190,2,대한민국
1033,133,134,바람이 분다,2013-09-05,747245500,0.00%,106439,288,6684,일본,...,0.0,홍유정,9.0,가을,1251,0,14,152,2,대한민국
590,140,141,스위치,2010-12-01,558483500,0.001,82503,162,6854,미국,...,113.0,마대윤,12.0,겨울,328,1,6,166,0,대한민국

In [117]:
# 액션
movie_df[movie_df['장르_수정']=='스페인']

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,...,러닝타임,감독,개봉월,계절,감독_LE,계절_LE,국적_LE,배급사_LE,연령등급_LE,장르_수정
1073,173,24,논스톱,2014-02-27,16066549940,1.00%,2084482,582,58217,미국,...,106.0,자움 콜렛 세라,2.0,겨울,856,1,6,7,1,스페인

In [118]:
movie_df = movie_df.replace({'장르_수정' : '스페인'}, '액션')
movie_df = movie_df.replace({'장르_수정' : '미국'}, '공포')

In [119]:
movie_df['장르_수정'].unique()

array(['코미디', '액션', '애니메이션', '모험', '판타지', '드라마', '범죄', 'SF', '미스터리', '전쟁',
       '멜로/로맨스', '스릴러', '서사', '공포', '느와르', '뮤지컬', '대한민국', '다큐멘터리', '가족',
       '서스펜스', '공연실황', '블랙코미디'], dtype=object)

In [120]:
movie_df.loc[590]

Unnamed: 0                    140
순위                            141
영화명                           스위치
개봉일           2010-12-01 00:00:00
매출액                     558483500
매출액 점유율                     0.001
관객수                         82503
스크린수                          162
상영횟수                         6854
대표국적                           미국
국적                             미국
배급사                  씨너스엔터테인먼트(주)
연령등급                      12세 관람가
장르                           대한민국
러닝타임                        113.0
감독                            마대윤
개봉월                          12.0
계절                             겨울
감독_LE                         328
계절_LE                           1
국적_LE                           6
배급사_LE                        166
연령등급_LE                         0
장르_수정                        대한민국
Name: 590, dtype: object

In [121]:
movie_df.loc[590, '장르_수정'] = '코미디'

In [122]:
movie_df.loc[1033, '장르_수정'] = '애니매이션'
movie_df.loc[1683, '장르_수정'] = '시대극'
movie_df.loc[1738, '장르_수정'] = '다큐멘터리'
movie_df.loc[1966, '장르_수정'] = '시대극'

In [123]:
movie_df['장르_수정'].unique()

array(['코미디', '액션', '애니메이션', '모험', '판타지', '드라마', '범죄', 'SF', '미스터리', '전쟁',
       '멜로/로맨스', '스릴러', '서사', '공포', '느와르', '뮤지컬', '시대극', '다큐멘터리', '가족',
       '서스펜스', '공연실황', '블랙코미디', '애니매이션'], dtype=object)

In [124]:
gan_encoding = le.fit_transform(movie_df['장르_수정'])

gan_encoding

array([21, 19, 19, ..., 21,  3, 19])

In [125]:
movie_df['장르_LE'] = gan_encoding

In [207]:
movie_df

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,...,계절,감독_LE,계절_LE,국적_LE,배급사_LE,연령등급_LE,장르_수정,장르_LE,영화제목_길이,배급사_수정
2086,286,138,델마와 루이스,1993-11-27,46615500,0,9203,60,1021,미국,...,가을,221,0,6,11,3,드라마,6,6,(주)드림팩트엔터테인먼트
2243,443,147,타락천사,1995-12-23,89708920,0,8983,37,728,홍콩,...,겨울,724,1,24,12,1,드라마,6,4,(주)디스테이션
2097,297,150,트루먼 쇼,1998-10-24,37811500,0,7462,104,1234,미국,...,가을,1210,0,6,122,0,코미디,21,4,주식회사 해리슨앤컴퍼니
879,429,130,스타워즈:에피소드1 보이지 않는 위험,1999-06-26,1230713000,0.001,110700,204,5223,미국,...,여름,986,3,6,117,2,SF,0,17,이십세기폭스코리아(주)
2241,441,145,브리짓 존스의 일기,2001-09-01,63593240,0,9295,69,708,영국,...,가을,516,0,11,55,1,멜로/로맨스,7,8,(주)제이앤씨미디어그룹
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2098,298,1,스파이더맨: 노 웨이 홈,2021-12-15,55697413760,0.102,5560940,2948,144754,미국,...,겨울,1003,1,6,91,0,액션,19,10,소니픽쳐스엔터테인먼트코리아주식회사극장배급지점
2144,344,47,매트릭스: 리저렉션,2021-12-22,1923032630,0.004,191280,970,15414,미국,...,겨울,253,1,6,107,1,액션,19,9,워너브러더스 코리아(주)
2195,395,98,신데렐라 2: 마법에 걸린 왕자,2021-12-22,259942550,0,29852,355,2372,미국,...,겨울,658,1,6,19,2,애니메이션,18,13,(주)박수엔터테인먼트
2121,321,24,킹스맨: 퍼스트 에이전트,2021-12-22,6154017260,0.011,622461,1061,26294,미국,...,겨울,384,1,6,109,3,액션,19,11,월트디즈니컴퍼니코리아 유한책임회사
2155,355,58,해피 뉴 이어,2021-12-29,1011453370,0.002,114046,832,6930,한국,...,겨울,1167,1,21,35,0,멜로/로맨스,7,5,(주)씨제이이엔엠

## 영화 길이 추가해보기

- 영화명에서 의미있는 값을 찾을수있을까 ?

In [127]:
list(movie_df['영화명'][560].split(' '))

['원피스', '극장판:', '스트롱', '월드']

In [128]:
print(list(movie_df['영화명'][560].replace(' ','')))

['원', '피', '스', '극', '장', '판', ':', '스', '트', '롱', '월', '드']

In [129]:
movie_df.sort_values('개봉일', inplace=True)

In [130]:
movie_df['영화명'][5]

'해리 포터와 불사조 기사단'

In [131]:
movie_df['영화명'][5].replace(' ', '')

'해리포터와불사조기사단'

In [132]:
title_len = []
count = 0
for name in movie_df['영화명']:
    str_name = str(name)
    sum = 0
    count += 1 
    
    
    for i in str_name.replace(' ', ''):
        sum += len(i)
    
    title_len.append(sum)

In [133]:
len(title_len),count,title_len

(2086,
 2086,
 [6,
  4,
  4,
  17,
  8,
  7,
  11,
  9,
  10,
  6,
  10,
  3,
  12,
  4,
  6,
  8,
  6,
  7,
  8,
  9,
  2,
  8,
  6,
  10,
  5,
  10,
  2,
  3,
  3,
  2,
  8,
  11,
  4,
  6,
  5,
  7,
  4,
  5,
  2,
  5,
  7,
  6,
  11,
  4,
  5,
  6,
  6,
  9,
  4,
  4,
  6,
  6,
  10,
  6,
  6,
  6,
  2,
  3,
  12,
  13,
  4,
  1,
  8,
  6,
  3,
  5,
  5,
  13,
  7,
  6,
  11,
  5,
  8,
  9,
  4,
  6,
  2,
  6,
  4,
  6,
  3,
  14,
  5,
  3,
  11,
  3,
  6,
  5,
  5,
  3,
  5,
  3,
  3,
  5,
  11,
  11,
  1,
  2,
  6,
  4,
  5,
  2,
  4,
  13,
  2,
  9,
  3,
  9,
  5,
  16,
  5,
  3,
  8,
  5,
  7,
  6,
  8,
  6,
  5,
  4,
  4,
  9,
  9,
  6,
  6,
  5,
  2,
  5,
  4,
  5,
  6,
  2,
  5,
  5,
  7,
  13,
  2,
  5,
  2,
  3,
  2,
  7,
  6,
  5,
  4,
  4,
  3,
  5,
  6,
  4,
  6,
  7,
  6,
  7,
  2,
  6,
  7,
  5,
  3,
  11,
  7,
  11,
  6,
  2,
  7,
  6,
  9,
  5,
  9,
  7,
  5,
  3,
  17,
  11,
  7,
  13,
  5,
  2,
  3,
  6,
  9,
  7,
  6,
  5,
  7,
  10,
  7,
  2,
  10,
  3,
  4,
  11,
  10,
  6,
  2,
  9,
  6,
  9,
  2,
  8,
  10,
  2,
  6,
  4,
  14,
  4,
  4,
  5,
  9,
  8,
  8,
  4,
  3,
  7,
  10,
  4,
  5,
  16,
  4,
  4,
  2,
  13,
  6,
  6,
  13,
  4,
  17,
  2,
  2,
  3,
  14,
  6,
  4,
  5,
  7,
  3,
  2,
  11,
  4,
  3,
  3,
  10,
  2,
  13,
  6,
  14,
  22,
  12,
  5,
  10,
  8,
  5,
  3,
  9,
  20,
  11,
  5,
  4,
  8,
  5,
  9,
  5,
  3,
  9,
  5,
  7,
  5,
  6,
  2,
  2,
  2,
  9,
  7,
  4,
  4,
  4,
  5,
  11,
  5,
  2,
  7,
  7,
  3,
  7,
  10,
  11,
  3,
  4,
  7,
  3,
  4,
  10,
  3,
  5,
  7,
  5,
  3,
  10,
  6,
  6,
  7,
  7,
  2,
  3,
  2,
  11,
  6,
  5,
  11,
  4,
  6,
  7,
  7,
  2,
  3,
  10,
  2,
  5,
  4,
  12,
  2,
  8,
  9,
  4,
  13,
  3,
  3,
  4,
  5,
  6,
  3,
  4,
  10,
  9,
  8,
  7,
  2,
  2,
  3,
  3,
  4,
  6,
  11,
  5,
  5,
  7,
  7,
  2,
  5,
  10,
  5,
  9,
  6,
  2,
  4,
  9,
  13,
  9,
  9,
  5,
  5,
  13,
  9,
  2,
  9,
  3,
  5,
  6,
  6,
  5,
  7,
  11,
  6,
  5,
  3,
  8,
  19,
  2,
  16,
  9,
  7,
  3,
  1,
  12,
  3,
  4,
  3,
  12,
  6,
  12,
  4,
  7,
  5,
  8,
  4,
  7,
  8,
  8,
  6,
  3,
  4,
  4,
  4,
  2,
  14,
  8,
  3,
  6,
  6,
  8,
  25,
  10,
  5,
  3,
  4,
  7,
  2,
  6,
  8,
  3,
  7,
  8,
  8,
  10,
  8,
  2,
  6,
  4,
  8,
  4,
  3,
  7,
  2,
  6,
  5,
  2,
  3,
  7,
  4,
  4,
  3,
  4,
  12,
  19,
  20,
  8,
  2,
  5,
  3,
  20,
  12,
  8,
  5,
  9,
  6,
  3,
  8,
  9,
  5,
  8,
  10,
  3,
  3,
  11,
  9,
  12,
  6,
  3,
  8,
  5,
  4,
  15,
  5,
  3,
  5,
  13,
  3,
  9,
  4,
  8,
  6,
  6,
  7,
  3,
  3,
  5,
  3,
  3,
  6,
  6,
  4,
  3,
  5,
  4,
  9,
  9,
  15,
  5,
  6,
  2,
  4,
  7,
  5,
  13,
  7,
  8,
  3,
  7,
  5,
  5,
  6,
  5,
  6,
  4,
  5,
  6,
  5,
  5,
  5,
  4,
  2,
  6,
  12,
  3,
  16,
  13,
  2,
  3,
  5,
  6,
  6,
  9,
  6,
  5,
  2,
  16,
  7,
  5,
  5,
  3,
  6,
  3,
  8,
  8,
  8,
  12,
  3,
  7,
  3,
  4,
  9,
  17,
  3,
  4,
  6,
  10,
  11,
  7,
  4,
  4,
  5,
  13,
  3,
  6,
  4,
  2,
  4,
  2,
  6,
  4,
  5,
  4,
  3,
  4,
  6,
  5,
  5,
  7,
  6,
  6,
  3,
  15,
  5,
  5,
  7,
  11,
  6,
  2,
  19,
  20,
  8,
  6,
  5,
  26,
  5,
  8,
  6,
  13,
  3,
  6,
  4,
  3,
  14,
  3,
  2,
  3,
  7,
  2,
  8,
  5,
  6,
  3,
  2,
  6,
  3,
  6,
  4,
  2,
  12,
  4,
  6,
  3,
  6,
  4,
  3,
  7,
  5,
  7,
  5,
  9,
  6,
  5,
  3,
  7,
  5,
  4,
  7,
  5,
  6,
  2,
  11,
  12,
  5,
  7,
  4,
  3,
  2,
  24,
  19,
  3,
  3,
  12,
  5,
  2,
  10,
  4,
  10,
  3,
  6,
  5,
  9,
  10,
  12,
  3,
  6,
  13,
  11,
  8,
  4,
  1,
  3,
  2,
  2,
  21,
  6,
  7,
  12,
  3,
  3,
  4,
  5,
  7,
  9,
  10,
  6,
  15,
  4,
  5,
  7,
  2,
  2,
  12,
  10,
  8,
  7,
  5,
  4,
  3,
  5,
  8,
  4,
  3,
  2,
  5,
  4,
  2,
  9,
  3,
  5,
  8,
  2,
  3,
  3,
  6,
  2,
  3,
  5,
  7,
  3,
  6,
  3,
  7,
  10,
  5,
  10,
  8,
  14,
  15,
  5,
  4,
  4,
  10,
  26,
  23,
  11,
  6,
  4,
  14,
  8,
  7,
  11,
  6,
  7,
  9,
  3,
  5,
  16,
  12,
  2,
  15,
  5,
  11,
  3,
  10,
  10,
  3,
  4,
  5,
  12,
  11,
  4,
  7,
  4,
  6,
  5,
  14,
  4,
  11,
  2,
  2,
  2,
  4,
  5,
  10,
  6,
  7,
  10,
  3,
  3,
  7,
  2,
  24,
  4,
  4,
  3,
  3,
  5,
  8,
  3,
  7,
  5,
  19,
  13,
  3,
  11,
  15,
  6,
  7,
  12,
  10,
  4,
  7,
  4,
  9,
  6,
  13,
  3,
  4,
  5,
  4,
  7,
  15,
  8,
  8,
  22,
  3,
  6,
  13,
  6,
  8,
  6,
  9,
  11,
  8,
  9,
  4,
  10,
  4,
  4,
  9,
  7,
  6,
  4,
  8,
  13,
  2,
  15,
  5,
  8,
  4,
  4,
  5,
  2,
  3,
  10,
  8,
  4,
  11,
  7,
  3,
  4,
  7,
  6,
  10,
  5,
  6,
  4,
  3,
  5,
  7,
  29,
  8,
  5,
  5,
  3,
  27,
  12,
  12,
  11,
  2,
  14,
  7,
  4,
  8,
  14,
  5,
  5,
  3,
  6,
  13,
  14,
  3,
  11,
  6,
  4,
  14,
  7,
  7,
  6,
  10,
  5,
  3,
  6,
  7,
  3,
  7,
  8,
  6,
  11,
  6,
  4,
  4,
  2,
  6,
  15,
  7,
  5,
  9,
  7,
  3,
  6,
  5,
  5,
  3,
  7,
  3,
  7,
  25,
  5,
  6,
  5,
  6,
  5,
  3,
  6,
  10,
  6,
  8,
  5,
  5,
  7,
  8,
  7,
  5,
  2,
  4,
  2,
  8,
  8,
  4,
  4,
  4,
  4,
  7,
  2,
  4,
  18,
  6,
  4,
  8,
  8,
  13,
  4,
  2,
  18,
  11,
  4,
  2,
  3,
  5,
  2,
  11,
  6,
  5,
  10,
  3,
  4,
  2,
  12,
  3,
  5,
  7,
  10,
  5,
  4,
  4,
  5,
  6,
  2,
  3,
  7,
  4,
  3,
  6,
  3,
  3,
  3,
  4,
  4,
  4,
  12,
  10,
  3,
  2,
  2,
  10,
  5,
  7,
  10,
  6,
  ...])

In [134]:
movie_df['영화제목_길이'] = title_len

In [135]:
movie_df.head(4)

,Unnamed: 0,순위,영화명,개봉일,매출액,매출액 점유율,관객수,스크린수,상영횟수,대표국적,...,개봉월,계절,감독_LE,계절_LE,국적_LE,배급사_LE,연령등급_LE,장르_수정,장르_LE,영화제목_길이
2086,286,138,델마와 루이스,1993-11-27,46615500,0,9203,60,1021,미국,...,11.0,가을,221,0,6,18,3,드라마,6,6
2243,443,147,타락천사,1995-12-23,89708920,0,8983,37,728,홍콩,...,12.0,겨울,724,1,24,23,1,드라마,6,4
2097,297,150,트루먼 쇼,1998-10-24,37811500,0,7462,104,1234,미국,...,10.0,가을,1210,0,6,208,0,코미디,21,4
879,429,130,스타워즈:에피소드1 보이지 않는 위험,1999-06-26,1230713000,0.001,110700,204,5223,미국,...,6.0,여름,986,3,6,203,2,SF,0,17

## 감독을 한국 / 외국 감독으로 나누어 보자

- 종 표본 약 1900 편중 감독이 1226? 그럼 대부분의 감독이 한_두가지 작품을 한 감독이 많다는 뜻같다
- 감독으로 의미있는 컬럼을 만들수 있을까?

In [388]:
# 종 표본 약 1900 편중 감독이 1226? 그럼 대부분의 감독이 한_두가지 작품을 한 감독이 많다는 뜻
len(df['감독_LE'].unique())

1226

In [389]:
director = []

for i in movie_df['감독']:
    director.append(i)

In [390]:
movie_df[['영화명', '감독']][0:10]

                       영화명        감독
2086               델마와 루이스   데이빗 레이치
2243                  타락천사       왕가위
2097                 트루먼 쇼     피터 위어
879   스타워즈:에피소드1 보이지 않는 위험    조지 루카스
2241            브리짓 존스의 일기   샤론 맥과이어
1037              몬스터 주식회사     피트 닥터
2187        반지의 제왕 : 반지원정대     피터 잭슨
1913           해리포터와 비밀의 방  크리스 콜럼버스
2202        반지의 제왕 : 두개의 탑     피터 잭슨
1040               니모를 찾아서   앤드류 스탠튼

In [391]:
len(list(director[4])),list(director[4]),list(director[4])[0]

(7, ['샤', '론', ' ', '맥', '과', '이', '어'], '샤')

In [392]:
df_name = pd.read_html('https://ko.wikipedia.org/wiki/%ED%95%9C%EA%B5%AD%EC%9D%98_%EC%84%B1%EC%94%A8')[1]

df_name['성씨']['성씨']

0        김(金)
1        이(李)
2        박(朴)
3        최(崔)
4        정(鄭)
        ...
517      황(煌)
518      황(簧)
519    황목(荒木)
520        기타
521        총계
Name: 성씨, Length: 522, dtype: object

In [393]:
first_name = []

for i in df_name['성씨']['성씨']:
    first_name.append(i.split('(')[0])

In [394]:
director_country = []

for i in director:
    if len(list(i)) > 3:
        director_country.append(1.0)
    
    else:
        if list(i)[0] in first_name:
            director_country.append(0.0)
        else:
            director_country.append(1.0)

In [395]:
movie_df[['영화명','대표국적','감독','감독_국적']][0:30]

                       영화명 대표국적        감독  감독_국적
2086               델마와 루이스   미국   데이빗 레이치    1.0
2243                  타락천사   홍콩       왕가위    0.0
2097                 트루먼 쇼   미국     피터 위어    1.0
879   스타워즈:에피소드1 보이지 않는 위험   미국    조지 루카스    1.0
2241            브리짓 존스의 일기   영국   샤론 맥과이어    1.0
1037              몬스터 주식회사   미국     피트 닥터    1.0
2187        반지의 제왕 : 반지원정대   미국     피터 잭슨    1.0
1913           해리포터와 비밀의 방   미국  크리스 콜럼버스    1.0
2202        반지의 제왕 : 두개의 탑   미국     피터 잭슨    1.0
1040               니모를 찾아서   미국   앤드류 스탠튼    1.0
2200        반지의 제왕 : 왕의 귀환   미국     피터 잭슨    1.0
2227                  빅 피쉬   미국      팀 버튼    1.0
2023        해리포터와 아즈카반의 죄수   미국   알폰소 쿠아론    1.0
1618                 이프 온리   미국      길 정거    1.0
2039               배트맨 비긴즈   미국  크리스토퍼 놀란    1.0
2167           해리 포터와 불의 잔   미국    마이크 뉴웰    1.0
10                 미녀는 괴로워   한국       김용화    0.0
140               로맨틱 홀리데이   미국   낸시 마이어스    1.0
99                올드미스다이어리   한국       김석윤    0.0
21              박물관이 살아있다!   미국      숀 레비    1.0
130                     중천   한국       조동오    0.0
121             007 카지노 로얄   미국     마틴 캠벨    1.0
48                  조폭마누라3   한국       조진규    0.0
95             부그와 엘리엇(애니)   미국    로저 알러스    1.0
136                 언니가 간다   한국       김창래    0.0
64           데스노트 : 라스트 네임   일본   카네코 슈스케    1.0
98                      묵공   중국       장지량    0.0
46                     에라곤   미국  스티펜 펭메이어    1.0
53                     데자뷰   미국     토니 스콧    1.0
30                      허브   한국       허인무    0.0

In [396]:
movie_df['감독_국적'] = director_country

In [397]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2086 entries, 2086 to 2155
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2086 non-null   int64
 1   순위          2086 non-null   int64
 2   영화명         2086 non-null   object
 3   개봉일         2086 non-null   datetime64[ns]
 4   매출액         2086 non-null   int64
 5   매출액 점유율     2086 non-null   object
 6   관객수         2086 non-null   int64
 7   스크린수        2086 non-null   int64
 8   상영횟수        2086 non-null   int64
 9   대표국적        2086 non-null   object
 10  국적          2086 non-null   object
 11  배급사         2086 non-null   object
 12  연령등급        2086 non-null   object
 13  장르          2086 non-null   object
 14  러닝타임        2086 non-null   float64
 15  감독          2086 non-null   object
 16  개봉월         2086 non-null   float64
 17  계절          2086 non-null   object
 18  감독_LE       2086 non-null   int32
 19  계절_LE       2086 non-null   int32
 20  국적_LE       2086 non-null   int32
 21  배급사_LE      2086 non-null   int32
 22  연령등급_LE     2086 non-null   int32
 23  장르_수정       2086 non-null   object
 24  장르_LE       2086 non-null   int32
 25  영화제목_길이     2086 non-null   int64
 26  배급사_수정      2086 non-null   object
 27  감독_국적       2086 non-null   float64
dtypes: datetime64[ns](1), float64(3), int32(6), int64(7), object(11)
memory usage: 488.3+ KB

## int, float 데이터만 따로 가져와기

In [398]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2086 entries, 2086 to 2155
Data columns (total 28 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  2086 non-null   int64
 1   순위          2086 non-null   int64
 2   영화명         2086 non-null   object
 3   개봉일         2086 non-null   datetime64[ns]
 4   매출액         2086 non-null   int64
 5   매출액 점유율     2086 non-null   object
 6   관객수         2086 non-null   int64
 7   스크린수        2086 non-null   int64
 8   상영횟수        2086 non-null   int64
 9   대표국적        2086 non-null   object
 10  국적          2086 non-null   object
 11  배급사         2086 non-null   object
 12  연령등급        2086 non-null   object
 13  장르          2086 non-null   object
 14  러닝타임        2086 non-null   float64
 15  감독          2086 non-null   object
 16  개봉월         2086 non-null   float64
 17  계절          2086 non-null   object
 18  감독_LE       2086 non-null   int32
 19  계절_LE       2086 non-null   int32
 20  국적_LE       2086 non-null   int32
 21  배급사_LE      2086 non-null   int32
 22  연령등급_LE     2086 non-null   int32
 23  장르_수정       2086 non-null   object
 24  장르_LE       2086 non-null   int32
 25  영화제목_길이     2086 non-null   int64
 26  배급사_수정      2086 non-null   object
 27  감독_국적       2086 non-null   float64
dtypes: datetime64[ns](1), float64(3), int32(6), int64(7), object(11)
memory usage: 488.3+ KB

In [400]:
movie_ml_df = movie_df[['영화명','매출액','관객수','스크린수','상영횟수','러닝타임','개봉월','감독_LE','계절_LE','국적_LE','배급사_LE','연령등급_LE','장르_LE','영화제목_길이','감독_국적']]

In [401]:
movie_ml_df

,영화명,매출액,관객수,스크린수,상영횟수,러닝타임,개봉월,감독_LE,계절_LE,국적_LE,배급사_LE,연령등급_LE,장르_LE,영화제목_길이,감독_국적
2086,델마와 루이스,46615500,9203,60,1021,124.0,11.0,221,0,6,11,3,6,6,1.0
2243,타락천사,89708920,8983,37,728,99.0,12.0,724,1,24,12,1,6,4,0.0
2097,트루먼 쇼,37811500,7462,104,1234,103.0,10.0,1210,0,6,122,0,21,4,1.0
879,스타워즈:에피소드1 보이지 않는 위험,1230713000,110700,204,5223,131.0,6.0,986,3,6,117,2,0,17,1.0
2241,브리짓 존스의 일기,63593240,9295,69,708,107.0,9.0,516,0,11,55,1,7,8,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2098,스파이더맨: 노 웨이 홈,55697413760,5560940,2948,144754,156.0,12.0,1003,1,6,91,0,19,10,1.0
2144,매트릭스: 리저렉션,1923032630,191280,970,15414,147.0,12.0,253,1,6,107,1,19,9,1.0
2195,신데렐라 2: 마법에 걸린 왕자,259942550,29852,355,2372,81.0,12.0,658,1,6,19,2,18,13,1.0
2121,킹스맨: 퍼스트 에이전트,6154017260,622461,1061,26294,130.0,12.0,384,1,6,109,3,19,11,1.0
2155,해피 뉴 이어,1011453370,114046,832,6930,138.0,12.0,1167,1,21,35,0,7,5,1.0

In [402]:
movie_ml_df.to_csv('./Movie_EDA.csv')

In [403]:
import pandas as pd

df = pd.read_csv('./Movie_EDA.csv')

In [404]:
df

,Unnamed: 0,영화명,매출액,관객수,스크린수,상영횟수,러닝타임,개봉월,감독_LE,계절_LE,국적_LE,배급사_LE,연령등급_LE,장르_LE,영화제목_길이,감독_국적
0,2086,델마와 루이스,46615500,9203,60,1021,124.0,11.0,221,0,6,11,3,6,6,1.0
1,2243,타락천사,89708920,8983,37,728,99.0,12.0,724,1,24,12,1,6,4,0.0
2,2097,트루먼 쇼,37811500,7462,104,1234,103.0,10.0,1210,0,6,122,0,21,4,1.0
3,879,스타워즈:에피소드1 보이지 않는 위험,1230713000,110700,204,5223,131.0,6.0,986,3,6,117,2,0,17,1.0
4,2241,브리짓 존스의 일기,63593240,9295,69,708,107.0,9.0,516,0,11,55,1,7,8,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2081,2098,스파이더맨: 노 웨이 홈,55697413760,5560940,2948,144754,156.0,12.0,1003,1,6,91,0,19,10,1.0
2082,2144,매트릭스: 리저렉션,1923032630,191280,970,15414,147.0,12.0,253,1,6,107,1,19,9,1.0
2083,2195,신데렐라 2: 마법에 걸린 왕자,259942550,29852,355,2372,81.0,12.0,658,1,6,19,2,18,13,1.0
2084,2121,킹스맨: 퍼스트 에이전트,6154017260,622461,1061,26294,130.0,12.0,384,1,6,109,3,19,11,1.0
2085,2155,해피 뉴 이어,1011453370,114046,832,6930,138.0,12.0,1167,1,21,35,0,7,5,1.0

In [405]:
df[df['러닝타임'] < 50]

,Unnamed: 0,영화명,매출액,관객수,스크린수,상영횟수,러닝타임,개봉월,감독_LE,계절_LE,국적_LE,배급사_LE,연령등급_LE,장르_LE,영화제목_길이,감독_국적
866,849,메로엣타의 반짝반짝 음악회,916970250,273298,237,4729,20.0,12.0,747,1,14,35,2,18,12,1.0
884,993,눈의 여왕,1846221000,276913,316,6528,15.0,2.0,602,1,5,7,2,6,4,1.0
959,1033,바람이 분다,747245500,106439,288,6684,0.0,9.0,1251,0,14,88,2,17,5,0.0
1001,979,캐치미,3293262500,480434,517,16151,12.0,12.0,840,1,21,88,0,19,3,0.0
1141,1149,뽀로로 극장판 눈요정 마을 대모험,1160549300,231875,181,4990,35.0,11.0,154,0,21,112,2,18,14,0.0
1305,1465,극장판 꼬마버스 타요의 에이스 구출작전,905899900,135398,200,5395,48.0,1.0,306,1,21,36,2,18,17,0.0
1863,2050,하이큐!! 땅 VS 하늘,189951700,23613,82,1827,46.0,1.0,401,1,14,11,2,18,10,1.0

In [406]:
df.loc[1001, '러닝타임'] = 115.0